---
- name: Create Kubernetes objects
  hosts:
    - environment
  tasks:
    - name: Create namespace
      kubernetes.core.k8s:
        kubeconfig: "{{ cluster.kubeconfig }}"
        resource_definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: valkey-workload-out-of-memory-test
        state: present

    - name: Create deployment
      kubernetes.core.k8s:
        kubeconfig: "{{ cluster.kubeconfig }}"
        resource_definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: compromised-workload
            namespace: valkey-workload-out-of-memory-test
          spec:
            replicas: 1
            selector:
              matchLabels:
                app.kubernetes.io/name: compromised-workload
            template:
              metadata:
                labels:
                  app.kubernetes.io/name: compromised-workload
              spec:
                containers:
                  - name: valkey
                    image: docker.io/valkey/valkey:9.0.3-alpine3.23
                    ports:
                      - containerPort: 6379
                        name: valkey
                    resources:
                      limits:
                        memory: 128Mi
                      requests:
                        memory: 64Mi
        state: present
        wait: true
