---
- name: Destroy Kubernetes objects
  hosts:
    - environment
  tasks:
    - name: Delete namespace
      kubernetes.core.k8s:
        kubeconfig: "{{ cluster.kubeconfig }}"
        resource_definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: valkey-workload-out-of-memory-test
        state: absent
        wait: true
