apiVersion: itbench.io/v2
kind: GroundTruth
metadata:
  name: scenario-34
spec:
  alerts:
    - labels: {}
      name: HighRequestLatency
  entities:
    - apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: valkey-cart
        namespace: otel-demo
  solutions:
    - - steps:
          - command: kubectl -n otel-demo edit secret valkey-credentials
            text: Change the password back to the original by modifying the value of `valkey-password` in the secrete.
