apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-34
spec:
  applications:
    opentelemetryDemo:
      enabled: true
  faults:
    - injections:
        - args:
            container:
              name: valkey-cart
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: valkey-cart
                namespace: otel-demo
          id: valkey-workload-changed-password
  tools:
    sre:
      enabled: true
