---
dependency:
  name: galaxy

ansible:
  env:
    ANSIBLE_ROLES_PATH: ../../..
  executor:
    backend: ansible-playbook
    args:
      ansible_playbook:
        - -vvv
        - --inventory=${MOLECULE_PROJECT_DIRECTORY}/../../inventory.yaml
        - --tags=inject_faults,untagged
  playbooks:
    create: create.yml
    converge: converge.yml
    destroy: destroy.yml
    verify: verify.yml

scenario:
  name: inject_valkey_workload_changed_password
  test_sequence:
    - syntax
    - create
    - converge
    - verify
    - destroy
