---
region: {{ kops_configuration.aws.region }}
vpc:
  cidr: {{ kops_configuration.aws.vpc.cidr }}
{% if kops_configuration.aws.vpc.nat_gateway is defined %}
  nat_gateway:
    elastic_ip_allocation_id: {{ kops_configuration.aws.vpc.nat_gateway.elastic_ip_allocation_id }}
{% endif %}
  subnets: {{ kops_cluster_group.clusters | ansible.builtin.length }}
zones: {{ kops_configuration.aws.zones }}
