---
- name: Remove fault objects
  hosts:
    - environment
  tasks:
    - name: Import faults role
      ansible.builtin.import_role:
        name: faults
        tasks_from: remove_unschedulable_node_status.yaml
      vars:
        faults_cluster:
          kubeconfig: "{{ cluster.kubeconfig }}"
