---
apiVersion: v1
kind: Config
preferences: {}
clusters:
  - cluster:
      server: {{ agent_kubeconfig_cluster.cluster.server }}
      certificate-authority-data: {{ agent_kubeconfig_cluster.cluster['certificate-authority-data'] }}
    name: {{ agent_kubeconfig_cluster.name }}
contexts:
  - context:
      cluster: {{ agent_kubeconfig_cluster.name }}
      user: agent
    name: {{ agent_kubeconfig_cluster.name }}
current-context: {{ agent_kubeconfig_cluster.name }}
users:
  - name: agent
    user:
      token: {{ agent_kubeconfig_token }}
