---
- name: Install Prometheus and Prometheus Operator on Kubernetes
  when:
    - tools_cluster.platform == "kubernetes"
  block:
    - name: Create Namespace for Prometheus and Prometheus Operator
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            labels:
              "itbench.io/gateway-access": shared
              "prometheus.itbench.io/monitor": "true"
            name: "{{ tools_managers.prometheus.kubernetes.namespace }}"
        state: present

    - name: Install Prometheus Operator and Prometheus
      kubernetes.core.helm:
        chart_ref: "{{ tools_managers.prometheus.helm.chart.reference }}"
        chart_version: "{{ tools_managers.prometheus.helm.chart.version }}"
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        release_name: "{{ tools_managers.prometheus.helm.release.name }}"
        release_namespace: "{{ tools_managers.prometheus.kubernetes.namespace }}"
        release_state: present
        timeout: 10m0s
        values:
          alertmanager:
            enabled: false
          grafana:
            enabled: false
          prometheusOperator:
            admissionWebhooks:
              affinity:
                nodeAffinity:
                  requiredDuringSchedulingIgnoredDuringExecution:
                    nodeSelectorTerms:
                      - matchExpressions:
                          - key: node-role.itbench.io/sandbox
                            operator: DoesNotExist
            affinity:
              nodeAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                  nodeSelectorTerms:
                    - matchExpressions:
                        - key: node-role.itbench.io/sandbox
                          operator: DoesNotExist
          prometheus:
            prometheusSpec:
              affinity:
                nodeAffinity:
                  requiredDuringSchedulingIgnoredDuringExecution:
                    nodeSelectorTerms:
                      - matchExpressions:
                          - key: node-role.itbench.io/sandbox
                            operator: DoesNotExist
              podMonitorNamespaceSelector:
                matchLabels:
                  "prometheus.itbench.io/monitor": "true"
              podMonitorSelectorNilUsesHelmValues: false
              ruleNamespaceSelector:
                matchLabels:
                  "prometheus.itbench.io/monitor": "true"
              ruleSelectorNilUsesHelmValues: false
              serviceMonitorNamespaceSelector:
                matchLabels:
                  "prometheus.itbench.io/monitor": "true"
              serviceMonitorSelectorNilUsesHelmValues: false
              enableOTLPReceiver: true
              routePrefix: /prometheus
          customRules:
            KubeContainerWaiting:
              for: 5m
            KubeHpaMaxedOut:
              for: 5m
            KubePodCrashLooping:
              for: 5m
            KubePodNotReady:
              for: 5m
          defaultRules:
            rules:
              alertmanager: false
          kubeControllerManager:
            enabled: "{{ tools_cluster.provider == 'kind' }}"
          kubeEtcd:
            enabled: "{{ tools_cluster.provider == 'kind' }}"
          kubeProxy:
            enabled: "{{ tools_cluster.provider == 'kind' }}"
          kubeScheduler:
            enabled: "{{ tools_cluster.provider == 'kind' }}"
        wait: true

- name: Enabled OpenShift User Worklord Monitoring (Prometheus)
  when:
    - tools_cluster.platform == "openshift"
  block:
    - name: Create Cluster Monitoring ConfigMap
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: v1
          kind: ConfigMap
          metadata:
            name: cluster-monitoring-config
            namespace: openshift-monitoring
          data:
            config.yaml: |
              enableUserWorkload: true
        state: present

    - name: Create User Workload ConfigMap
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: v1
          kind: ConfigMap
          metadata:
            name: user-workload-monitoring-config
            namespace: openshift-user-workload-monitoring
          data:
            config.yaml: |
              alertmanager:
                enabled: false
        state: present

    - name: Wait for Prometheus workload pods to start
      kubernetes.core.k8s_info:
        kind: Pod
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        label_selectors:
          - app.kubernetes.io/component = prometheus
          - app.kubernetes.io/instance = user-workload
        namespace: openshift-user-workload-monitoring
        wait: true
        wait_condition:
          type: Ready
          status: "True"
        wait_timeout: 300
