---
- name: Create OpenShift related objects
  when:
    - tools_cluster.platform == "openshift"
  block:
    - name: Create SecurityContextConstraint
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: security.openshift.io/v1
          kind: SecurityContextConstraints
          metadata:
            labels:
              "app.kubernetes.io/component": chaos-mesh
              "app.kubernetes.io/managed-by": ITBench
            name: it-bench-chaos-daemon-restricted
          readOnlyRootFilesystem: false
          allowHostDirVolumePlugin: true
          allowHostIPC: false
          allowHostNetwork: false
          allowHostPID: true
          allowHostPorts: false
          allowPrivilegeEscalation: false
          allowPrivilegedContainer: true
          allowedCapabilities:
            - IPC_LOCK
            - KILL
            - MKNOD
            - NET_ADMIN
            - NET_RAW
            - SYS_ADMIN
            - SYS_CHROOT
            - SYS_PTRACE
          defaultAddCapabilities:
          fsGroup:
            type: MustRunAs
          runAsUser:
            type: MustRunAsRange
          seLinuxContext:
            type: MustRunAs
          seccompProfiles:
            - runtime/default
          supplementalGroups:
            type: RunAsAny
          volumes:
            - configMap
            - csi
            - downwardAPI
            - emptyDir
            - ephemeral
            - hostPath
            - persistentVolumeClaim
            - projected
            - secret
          users:
            - system:serviceaccount:{{ tools_managers.chaos_mesh.kubernetes.namespace }}:chaos-daemon
        state: present

- name: Create Chaos Mesh Namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ tools_managers.chaos_mesh.kubernetes.namespace }}"
        labels:
          prometheus.itbench.io/monitor: "true"
    state: present

- name: Install Chaos Mesh
  kubernetes.core.helm:
    chart_ref: "{{ tools_managers.chaos_mesh.helm.chart.reference }}"
    chart_repo_url: "{{ tools_managers.chaos_mesh.helm.chart.repository }}"
    chart_version: "{{ tools_managers.chaos_mesh.helm.chart.version }}"
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.chaos_mesh.helm.release.name }}"
    release_namespace: "{{ tools_managers.chaos_mesh.kubernetes.namespace }}"
    release_state: present
    values: |-
      {{
        lookup('ansible.builtin.template', 'templates/helm/chaos_mesh/values.j2') |
        ansible.builtin.from_yaml
      }}
    wait: true
