---
- name: Create Namespace for OpenCost
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    state: present
    template: templates/kubernetes/opencost/namespace.j2

- name: Import Prometheus credential variable setting tasks
  ansible.builtin.import_tasks:
    file: set_credentials_prometheus.yaml
  when:
    - tools_prometheus_bearer_token is undefined

- name: Import Prometheus endpoint variable setting tasks
  ansible.builtin.import_tasks:
    file: set_internal_endpoints_prometheus.yaml
  when:
    - tools_prometheus_endpoint.http is undefined

- name: Install OpenCost
  kubernetes.core.helm:
    chart_ref: "{{ tools_managers.opencost.helm.chart.reference }}"
    chart_version: "{{ tools_managers.opencost.helm.chart.version }}"
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.opencost.helm.release.name }}"
    release_namespace: "{{ tools_managers.opencost.kubernetes.namespace }}"
    release_state: present
    timeout: 10m0s
    values: |-
      {{
        lookup('ansible.builtin.template', 'templates/helm/opencost/values.j2') |
        ansible.builtin.from_yaml
      }}
    wait: true

- name: Create PrometheusRules
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    state: present
    template: templates/kubernetes/opencost/prometheusrules.j2
