---
- name: Create temporary directory for Git checkout
  ansible.builtin.tempfile:
    prefix: topology_monitor
    state: directory
  register: tools_temporary_directory

- name: Checkout Kubernetes Topology Monitor repository using Git
  ansible.builtin.git:
    depth: 1
    dest: "{{ tools_temporary_directory.path }}"
    repo: "{{ tools_managers.kubernetes_topology_monitor.git.repository }}"
    version: "{{ tools_managers.kubernetes_topology_monitor.git.branch }}"

- name: Create Namespace for Kubernetes Topology Monitor
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        labels:
          "itbench.io/gateway-access": shared
        name: "{{ tools_managers.kubernetes_topology_monitor.kubernetes.namespace }}"
    state: present
    wait: true

- name: Install Kubernetes Topology Monitor
  kubernetes.core.helm:
    chart_ref: "{{ tools_temporary_directory.path }}/scenarios/sre/tools/kubernetes-topology-monitor/charts/kubernetes-topology-monitor"
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.kubernetes_topology_monitor.helm.release.name }}"
    release_namespace: "{{ tools_managers.kubernetes_topology_monitor.kubernetes.namespace }}"
    release_state: present
    timeout: 10m0s
    wait: true

- name: Delete the temporary directory
  ansible.builtin.file:
    path: "{{ tools_temporary_directory.path }}"
    state: absent
