---
- name: Create release namespace for Istio
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    state: present
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        labels:
          "pod-security.kubernetes.io/enforce": baseline
          "pod-security.kubernetes.io/enforce-version": v1.35
          "pod-security.kubernetes.io/warn": restricted
          "pod-security.kubernetes.io/warn-version": v1.35
          "prometheus.itbench.io/monitor": "true"
        name: "{{ tools_managers.istio_base.kubernetes.namespace }}"

- name: Install Istio Base (CRDs)
  kubernetes.core.helm:
    chart_ref: "{{ tools_managers.istio_base.helm.chart.reference }}"
    chart_version: "{{ tools_managers.istio_base.helm.chart.version }}"
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.istio_base.helm.release.name }}"
    release_namespace: "{{ tools_managers.istio_base.kubernetes.namespace }}"
    release_state: present
    values: |-
      {{
        lookup('ansible.builtin.template', 'templates/helm/istio_base/values.j2') |
        ansible.builtin.from_yaml
      }}
    wait: true

- name: Install Istiod Control Plane
  kubernetes.core.helm:
    chart_ref: "{{ tools_managers.istio_istiod.helm.chart.reference }}"
    chart_version: "{{ tools_managers.istio_istiod.helm.chart.version }}"
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.istio_istiod.helm.release.name }}"
    release_namespace: "{{ tools_managers.istio_istiod.kubernetes.namespace }}"
    release_state: present
    values: |-
      {{
        lookup('ansible.builtin.template', 'templates/helm/istio_istiod/values.j2') |
        ansible.builtin.from_yaml
      }}
    wait: true

- name: Create Telemetry
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: telemetry.istio.io/v1
      kind: Telemetry
      metadata:
        name: istio-telemetry
        namespace: "{{ tools_managers.istio_istiod.kubernetes.namespace }}"
      spec:
        accessLogging:
          - providers:
              - name: opentelemetry
        tracing:
          - providers:
              - name: jaeger
            randomSamplingPercentage: 0
    state: present

- name: Create ServiceMonitor for Control Plane
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: monitoring.coreos.com/v1
      kind: ServiceMonitor
      metadata:
        name: "{{ tools_managers.istio_istiod.helm.release.name }}"
        namespace: "{{ tools_managers.istio_istiod.kubernetes.namespace }}"
      spec:
        selector:
          matchLabels:
            app.kubernetes.io/name: "{{ tools_managers.istio_istiod.helm.release.name }}"
            app.kubernetes.io/part-of: istio
        endpoints:
          - interval: 30s
            port: http-monitoring
    state: present

- name: Install Istio CNI Node Agent
  kubernetes.core.helm:
    chart_ref: "{{ tools_managers.istio_cni.helm.chart.reference }}"
    chart_version: "{{ tools_managers.istio_cni.helm.chart.version }}"
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.istio_cni.helm.release.name }}"
    release_namespace: |-
      {{
        (tools_cluster.platform == 'openshift') |
        ansible.builtin.ternary(tools_managers.istio_cni.openshift.namespace, tools_managers.istio_cni.kubernetes.namespace)
      }}
    release_state: present
    values: |-
      {{
        lookup('ansible.builtin.template', 'templates/helm/istio_cni/values.j2') |
        ansible.builtin.from_yaml
      }}
    wait: true

- name: Create PodMonitor for CNI Pods
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: monitoring.coreos.com/v1
      kind: PodMonitor
      metadata:
        name: "{{ tools_managers.istio_cni.helm.release.name }}"
        namespace: |-
          {{
            (tools_cluster.platform == 'openshift') |
            ansible.builtin.ternary(tools_managers.istio_cni.openshift.namespace, tools_managers.istio_cni.kubernetes.namespace)
          }}
      spec:
        selector:
          matchLabels:
            app.kubernetes.io/name: "{{ tools_managers.istio_cni.helm.release.name }}"
            app.kubernetes.io/part-of: istio
        podMetricsEndpoints:
          - interval: 30s
            port: metrics
    state: present

- name: Install Istio ZTunnel
  kubernetes.core.helm:
    chart_ref: "{{ tools_managers.istio_ztunnel.helm.chart.reference }}"
    chart_version: "{{ tools_managers.istio_ztunnel.helm.chart.version }}"
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.istio_ztunnel.helm.release.name }}"
    release_namespace: |-
      {{
        (tools_cluster.platform == 'openshift') |
        ansible.builtin.ternary(tools_managers.istio_ztunnel.openshift.namespace, tools_managers.istio_ztunnel.kubernetes.namespace)
      }}
    release_state: present
    values: |-
      {{
        lookup('ansible.builtin.template', 'templates/helm/istio_ztunnel/values.j2') |
        ansible.builtin.from_yaml
      }}
    wait: true

- name: Create PodMonitor for ZTunnel Pods
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: monitoring.coreos.com/v1
      kind: PodMonitor
      metadata:
        name: "{{ tools_managers.istio_ztunnel.helm.release.name }}"
        namespace: |-
          {{
            (tools_cluster.platform == 'openshift') |
            ansible.builtin.ternary(tools_managers.istio_ztunnel.openshift.namespace, tools_managers.istio_ztunnel.kubernetes.namespace)
          }}
      spec:
        selector:
          matchLabels:
            app.kubernetes.io/name: "{{ tools_managers.istio_ztunnel.helm.release.name }}"
            app.kubernetes.io/part-of: istio
        podMetricsEndpoints:
          - interval: 30s
            port: ztunnel-stats
    state: present

- name: Handle OpenShift specific tasks
  when:
    - tools_cluster.platform == "openshift"
  block:
    - name: Enable Routing via Host feature
      kubernetes.core.k8s_json_patch:
        api_version: network.operator.openshift.io/v1
        kind: EgressRouter
        kubeconfig: "{{ faults_cluster.kubeconfig }}"
        name: cluster
        patch:
          - op: replace
            path: /spec/defaultNetwork/ovnKubernetesConfig/gatewayConfig/routingViaHost
            value: true
