---
- name: Create the release namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        labels:
          "itbench.io/gateway-access": shared
          "pod-security.kubernetes.io/enforce": baseline
          "pod-security.kubernetes.io/enforce-version": v1.35
          "pod-security.kubernetes.io/warn": restricted
          "pod-security.kubernetes.io/warn-version": v1.35
        name: "{{ tools_managers.kubernetes_topology_monitor.kubernetes.namespace }}"
    state: present
    wait: true

- name: Install Kubernetes Topology Monitor
  kubernetes.core.helm:
    chart_ref: "{{ playbook_dir }}/../tools/kubernetes-topology-monitor/charts/kubernetes-topology-monitor"
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.kubernetes_topology_monitor.helm.release.name }}"
    release_namespace: "{{ tools_managers.kubernetes_topology_monitor.kubernetes.namespace }}"
    release_state: present
    timeout: 10m0s
    wait: true
