---
- name: Create Namespace for Kubernetes Metrics Server
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        labels:
          "prometheus.itbench.io/monitor": "true"
        name: "{{ tools_managers.kubernetes_metrics_server.kubernetes.namespace }}"
    state: present

- name: Install Kubernetes Metrics Server
  kubernetes.core.helm:
    chart_ref: "{{ tools_managers.kubernetes_metrics_server.helm.chart.reference }}"
    chart_repo_url: "{{ tools_managers.kubernetes_metrics_server.helm.chart.repository }}"
    chart_version: "{{ tools_managers.kubernetes_metrics_server.helm.chart.version }}"
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.kubernetes_metrics_server.helm.release.name }}"
    release_namespace: "{{ tools_managers.kubernetes_metrics_server.kubernetes.namespace }}"
    release_state: present
    timeout: 10m0s
    values:
      apiService:
        insecureSkipTLSVerify: false
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.itbench.io/sandbox
                    operator: DoesNotExist
      tls:
        type: helm
      serviceMonitor:
        enabled: true
    wait: true
