---
- name: Retrieve host address from Gateway
  when:
    - tools_cluster.platform == "kubernetes"
  block:
    - name: Retrieve Istio managed Gateway
      kubernetes.core.k8s_info:
        api_version: gateway.networking.k8s.io/v1
        kind: Gateway
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        name: "{{ tools_managers.kubernetes_gateway.instances.names.istio }}"
        namespace: "{{ tools_managers.kubernetes_gateway.instances.kubernetes.namespace }}"
      register: tools_istio_gateway
      until:
        - tools_istio_gateway.resources | length == 1
        - tools_istio_gateway.resources[0].status.addresses is defined
        - tools_istio_gateway.resources[0].status.addresses | length > 0
      delay: 15
      retries: 20

    - name: Extract ip address information
      ansible.builtin.set_fact:
        tools_gateway_http_address: http://{{ tools_istio_gateway.resources[0].status.addresses[0].value }}:80
      when:
        - tools_istio_gateway.resources[0].status.addresses[0].type == "IPAddress"

    - name: Extract hostname address information
      ansible.builtin.set_fact:
        tools_gateway_http_address: http://{{ tools_istio_gateway.resources[0].status.addresses[0].value }}
      when:
        - tools_istio_gateway.resources[0].status.addresses[0].type == "Hostname"

    - name: Retrieve HTTPRoute for Clickhouse
      kubernetes.core.k8s_info:
        api_version: gateway.networking.k8s.io/v1
        kind: HTTPRoute
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        name: "{{ tools_managers.clickhouse_operator.instances.main.name }}"
        namespace: "{{ tools_managers.clickhouse_operator.instances.kubernetes.namespace }}"
      register: tools_clickhouse_http_route

    - name: Create Clickhouse external endpoint
      ansible.builtin.set_fact:
        tools_clickhouse_endpoint: |-
          {{
            tools_gateway_http_address +
            tools_clickhouse_http_route.spec.rules[0].matches[0].path.value
          }}
      when:
        - tools_clickhouse_http_route.api_found
        - tools_clickhouse_http_route.resources | ansible.builtin.length == 1

    - name: Retrieve HTTPRoute for Jaeger
      kubernetes.core.k8s_info:
        api_version: gateway.networking.k8s.io/v1
        kind: HTTPRoute
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        name: "{{ tools_managers.opentelemetry_operator.instances.names.jaeger }}"
        namespace: "{{ tools_managers.opentelemetry_operator.instances.kubernetes.namespace }}"
      register: tools_jaeger_http_route

    - name: Create Jaeger external endpoint
      ansible.builtin.set_fact:
        tools_jaeger_endpoint: |-
          {{
            tools_gateway_http_address +
            tools_jaeger_http_route.spec.rules[0].matches[0].path.value
          }}
      when:
        - tools_jaeger_http_route.api_found
        - tools_jaeger_http_route.resources | ansible.builtin.length == 1

    - name: Retrieve HTTPRoute for Kubernetes Topology Monitor
      kubernetes.core.k8s_info:
        api_version: gateway.networking.k8s.io/v1
        kind: HTTPRoute
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        name: "{{ tools_managers.kubernetes_topology_monitor.helm.release.name }}"
        namespace: "{{ tools_managers.kubernetes_topology_monitor.kubernetes.namespace }}"
      register: tools_kubernetes_topology_monitor_http_route

    - name: Create Kubernetes Topology Monitor external endpoint
      ansible.builtin.set_fact:
        tools_kubernetes_topology_monitor_endpoint: |-
          {{
            tools_gateway_http_address +
            tools_kubernetes_topology_monitor_http_route.spec.rules[0].matches[0].path.value
          }}
      when:
        - tools_kubernetes_topology_monitor_http_route.api_found
        - tools_kubernetes_topology_monitor_http_route.resources | ansible.builtin.length == 1

    - name: Retrieve HTTPRoute for OpenCost
      kubernetes.core.k8s_info:
        api_version: gateway.networking.k8s.io/v1
        kind: HTTPRoute
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        name: "{{ tools_managers.opencost.chart.release.name }}"
        namespace: "{{ tools_managers.opencost.kubernetes.namespace }}"
      register: tools_opencost_http_route

    - name: Create OpenCost external endpoint
      ansible.builtin.set_fact:
        tools_prometheus_endpoint: "{{ tools_gateway_http_address }}/"
      when:
        - tools_opencost_http_route.api_found
        - tools_opencost_http_route.resources | ansible.builtin.length == 1

    - name: Retrieve HTTPRoute for Prometheus
      kubernetes.core.k8s_info:
        api_version: gateway.networking.k8s.io/v1
        kind: HTTPRoute
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        name: "{{ tools_managers.prometheus.chart.release.name }}"
        namespace: "{{ tools_managers.prometheus.kubernetes.namespace }}"
      register: tools_prometheus_http_route

    - name: Create Prometheus external endpoint
      ansible.builtin.set_fact:
        tools_prometheus_endpoint: |-
          {{
            tools_gateway_http_address +
            tools_prometheus_http_route.spec.rules[0].matches[0].path.value
          }}
      when:
        - tools_prometheus_http_route.api_found
        - tools_prometheus_http_route.resources | ansible.builtin.length == 1

- name: Retrieve host address from Routes
  when:
    - tools_cluster.platform == "openshift"
  block:
    - name: Retrieve Route for Clickhouse
      kubernetes.core.k8s_info:
        api_version: route.openshift.io/v1
        kind: Route
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        name: "{{ tools_managers.clickhouse_operator.instances.main.name }}"
        namespace: "{{ tools_managers.clickhouse_operator.instances.kubernetes.namespace }}"
      register: tools_clickhouse_route

    - name: Create Clickhouse external endpoint
      ansible.builtin.set_fact:
        tools_clickhouse_endpoint: "http://{{ tools_clickhouse_route.resources[0].status.ingress[0].host }}"
      when:
        - tools_clickhouse_route.api_found
        - tools_clickhouse_route.resources | ansible.builtin.length == 1
        - tools_clickhouse_route.resources[0].status.ingress is defined
        - tools_clickhouse_route.resources[0].status.ingress | ansible.builtin.length > 0

    - name: Retrieve Route for Jaeger
      kubernetes.core.k8s_info:
        api_version: route.openshift.io/v1
        kind: Route
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        name: "{{ tools_managers.opentelemetry_operator.instances.names.jaeger }}"
        namespace: "{{ tools_managers.opentelemetry_operator.instances.kubernetes.namespace }}"
      register: tools_jaeger_route

    - name: Create Jaeger external endpoint
      ansible.builtin.set_fact:
        tools_jaeger_endpoint: "http://{{ tools_jaeger_route.resources[0].status.ingress[0].host }}"
      when:
        - tools_jaeger_route.api_found
        - tools_jaeger_route.resources | ansible.builtin.length == 1
        - tools_jaeger_route.resources[0].status.ingress is defined
        - tools_jaeger_route.resources[0].status.ingress | ansible.builtin.length > 0

    - name: Retrieve Route for Kubernetes Topology Monitor
      kubernetes.core.k8s_info:
        api_version: route.openshift.io/v1
        kind: Route
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        name: "{{ tools_managers.kubernetes_topology_monitor.helm.release.name }}"
        namespace: "{{ tools_managers.kubernetes_topology_monitor.kubernetes.namespace }}"
      register: tools_kubernetes_topology_monitor_route

    - name: Create Kubernetes Topology Monitor external endpoint
      ansible.builtin.set_fact:
        tools_kubernetes_topology_monitor_endpoint: "http://{{ tools_kubernetes_topology_monitor_route.resources[0].status.ingress[0].host }}"
      when:
        - tools_kubernetes_topology_monitor_route.api_found
        - tools_kubernetes_topology_monitor_route.resources | ansible.builtin.length == 1
        - tools_kubernetes_topology_monitor_route.resources[0].status.ingress is defined
        - tools_kubernetes_topology_monitor_route.resources[0].status.ingress | ansible.builtin.length > 0

    - name: Retrieve Route for OpenCost
      kubernetes.core.k8s_info:
        api_version: route.openshift.io/v1
        kind: Route
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        name: "{{ tools_managers.opencost.chart.release.name }}"
        namespace: "{{ tools_managers.opencost.kubernetes.namespace }}"
      register: tools_opencost_route

    - name: Create OpenCost external endpoint
      ansible.builtin.set_fact:
        tools_opencost_endpoint: "http://{{ tools_opencost_route.resources[0].status.ingress[0].host }}"
      when:
        - tools_opencost_route.api_found
        - tools_opencost_route.resources | ansible.builtin.length == 1
        - tools_opencost_route.resources[0].status.ingress is defined
        - tools_opencost_route.resources[0].status.ingress | ansible.builtin.length > 0

    - name: Retrieve Route for Prometheus
      kubernetes.core.k8s_info:
        api_version: route.openshift.io/v1
        kind: Route
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        name: prometheus-k8s
        namespace: openshift-monitoring
      register: tools_prometheus_route

    - name: Create Prometheus external endpoint
      ansible.builtin.set_fact:
        tools_prometheus_endpoint: "http://{{ tools_prometheus_route.resources[0].status.ingress[0].host }}"
      when:
        - tools_prometheus_route.api_found
        - tools_prometheus_route.resources | ansible.builtin.length == 1
        - tools_prometheus_route.resources[0].status.ingress is defined
        - tools_prometheus_route.resources[0].status.ingress | ansible.builtin.length > 0
