---
- name: Retrieve Service for Clickhouse
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Service
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: clickhouse-{{ tools_managers.clickhouse_operator.instances.main.name }}
    namespace: "{{ tools_managers.clickhouse_operator.instances.kubernetes.namespace }}"
  register: tools_clickhouse_service

- name: Validate that Clickhouse service exists
  ansible.builtin.assert:
    that:
      - tools_clickhouse_service.api_found
      - tools_clickhouse_service.resources | ansible.builtin.length == 1
    fail_msg: Clickhouse service not found. Please verify that Clickhouse was successfully installed.
    success_msg: Clickhouse service found.

- name: Create Clickhouse in-cluster endpoints
  ansible.builtin.set_fact:
    tools_clickhouse_endpoint:
      http: |-
        {{
          "http://" +
          (
            [
              tools_clickhouse_service.resources[0].metadata.name,
              tools_clickhouse_service.resources[0].metadata.namespace,
              "svc",
              "cluster"
              "local"
            ] |
            ansible.builtin.join(".")
          ) +
          ":8123"
        }}
      prometheus: |-
        {{
          (
            [
              tools_clickhouse_service.resources[0].metadata.name,
              tools_clickhouse_service.resources[0].metadata.namespace,
              "svc",
              "cluster"
              "local"
            ] |
            ansible.builtin.join(".")
          ) +
          ":9363"
        }}
