---
- name: Retrieve all namespaces
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Namespace
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
  register: tools_namespaces

- name: Validate that namespaces exists
  ansible.builtin.assert:
    that:
      - tools_namespaces.api_found
      - tools_namespaces.resources | ansible.builtin.length > 0
    fail_msg: No namespaces were found. Please ensure that tool installation completed successfully.
    success_msg: Namespaces found.

- name: Map resources to names list
  ansible.builtin.set_fact:
    tools_namespaces_names: "{{ tools_namespaces.resources | map(attribute='metadata.name') }}"

- name: Import Clickhouse variable setting tasks
  ansible.builtin.import_tasks:
    file: set_internal_endpoints_clickhouse.yaml
  when:
    - tools_managers.clickhouse_operator.instances.kubernetes.namespace in tools_namespaces_names

- name: Import Jaeger variable setting tasks
  ansible.builtin.import_tasks:
    file: set_internal_endpoints_jaeger.yaml
  when:
    - tools_managers.opentelemetry_operator.instances.kubernetes.namespace in tools_namespaces_names

- name: Import Kubernetes Topology Monitor variable setting tasks
  ansible.builtin.import_tasks:
    file: set_internal_endpoints_kubernetes_topology_monitor.yaml
  when:
    - tools_managers.kubernetes_topology_monitor.kubernetes.namespace in tools_namespaces_names

- name: Import Prometheus variable setting tasks
  ansible.builtin.import_tasks:
    file: set_internal_endpoints_prometheus.yaml
  when:
    - (
        ("openshift-monitoring" in tools_namespaces_names) or
        (tools_managers.prometheus.kubernetes.namespace in tools_namespaces_names)
      )
