---
- name: Retrieve bearer token for Prometheus
  when:
    - tools_cluster.platform == "openshift"
  block:
    - name: Retrieve bearer token from OpenShift CLI
      ansible.builtin.command:
        argv:
          - oc
          - whoami
          - -t
          - --kubeconfig={{ tools_cluster.kubeconfig | ansible.builtin.expanduser }}
      register: tools_oc_user_token
      changed_when: false
      failed_when: tools_oc_user_token.rc != 0

    - name: Extract Prometheus hostname and bearer token
      ansible.builtin.set_fact:
        tools_prometheus_bearer_token: "{{ tools_oc_user_token.stdout }}"
