---
- name: Uninstall OpenCost
  kubernetes.core.helm:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.opencost.helm.release.name }}"
    release_namespace: "{{ tools_managers.opencost.kubernetes.namespace }}"
    release_state: absent
    wait: true

- name: Delete the release namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      api_version: v1
      kind: Namespace
      metadata:
        name: "{{ tools_managers.opencost.kubernetes.namespace }}"
    state: absent
    wait: true
