---
- name: Handle OpenShift specific tasks
  when:
    - tools_cluster.platform == "openshift"
  block:
    - name: Enable Routing via Host feature
      kubernetes.core.k8s_json_patch:
        api_version: network.operator.openshift.io/v1
        kind: EgressRouter
        kubeconfig: "{{ faults_cluster.kubeconfig }}"
        name: cluster
        patch:
          - op: replace
            path: /spec/defaultNetwork/ovnKubernetesConfig/gatewayConfig/routingViaHost
            value: false

- name: Uninstall Istio ZTunnel
  kubernetes.core.helm:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.istio_ztunnel.helm.release.name }}"
    release_namespace: |-
      {{
        (tools_cluster.platform == 'openshift') |
        ansible.builtin.ternary(tools_managers.istio_ztunnel.openshift.namespace, tools_managers.istio_ztunnel.kubernetes.namespace)
      }}
    release_state: absent
    wait: true

- name: Uninstall Istio CNI Node Agent
  kubernetes.core.helm:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.istio_cni.helm.release.name }}"
    release_namespace: |-
      {{
        (tools_cluster.platform == 'openshift') |
        ansible.builtin.ternary(tools_managers.istio_cni.openshift.namespace, tools_managers.istio_cni.kubernetes.namespace)
      }}
    release_state: absent
    wait: true

- name: Uninstall Istiod Control Plane
  kubernetes.core.helm:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.istio_istiod.helm.release.name }}"
    release_namespace: "{{ tools_managers.istio_istiod.kubernetes.namespace }}"
    release_state: absent
    wait: true

- name: Uninstall Istio Base (CRDs)
  kubernetes.core.helm:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.istio_base.helm.release.name }}"
    release_namespace: "{{ tools_managers.istio_base.kubernetes.namespace }}"
    release_state: absent
    wait: true

- name: Delete Istio namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      api_version: v1
      kind: Namespace
      metadata:
        name: "{{ tools_managers.istio_base.kubernetes.namespace }}"
    state: absent
    wait: true
