---
- name: Retrieve Clickhouse Installation Custom Resource Definition
  kubernetes.core.k8s_info:
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: clickhouseinstallations.clickhouse.altinity.com
  register: tools_custom_resource_definition

- name: Delete Clickhouse Installations
  when:
    - tools_custom_resource_definition.api_found
    - tools_custom_resource_definition.resources | ansible.builtin.length == 1
  block:
    - name: Retrieve Clickhouse Installations
      kubernetes.core.k8s_info:
        api_version: clickhouse.altinity.com/v1
        kind: ClickHouseInstallation
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
      register: tools_clickhouse_installations

    - name: Delete Clickhouse Installations
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          api_version: "{{ resource.apiVersion }}"
          kind: "{{ resource.kind }}"
          metadata:
            name: "{{ resource.metadata.name }}"
            namespace: "{{ resource.metadata.namespace }}"
        state: absent
        wait: true
      loop: "{{ tools_clickhouse_installations.resources }}"
      loop_control:
        label: clickhouseinstallation/{{ resource.metadata.name }}
        loop_var: resource
      when:
        - tools_clickhouse_installations.api_found

- name: Delete Clickhouse Installations Templates
  when:
    - tools_custom_resource_definition.api_found
    - tools_custom_resource_definition.resources | ansible.builtin.length == 1
  block:
    - name: Fetch all Clickhouse Installation Templates
      kubernetes.core.k8s_info:
        api_version: clickhouse.altinity.com/v1
        kind: ClickHouseInstallationTemplate
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
      register: tools_clickhouse_installation_templates

    - name: Delete Clickhouse Installation Templates
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          api_version: "{{ resource.apiVersion }}"
          kind: "{{ resource.kind }}"
          metadata:
            name: "{{ resource.metadata.name }}"
            namespace: "{{ resource.metadata.namespace }}"
        state: absent
        wait: true
      loop: "{{ tools_clickhouse_installation_templates.resources | default([]) }}"
      loop_control:
        label: clickhouseinstallationtemplate/{{ resource.metadata.name }}
        loop_var: resource
      when:
        - tools_clickhouse_installation_templates.api_found

- name: Delete Namespace for Clickhouse instances
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      api_version: v1
      kind: Namespace
      metadata:
        name: "{{ tools_managers.clickhouse_operator.instances.kubernetes.namespace }}"
    state: absent
    wait: true
