---
- name: Delete Kubernetes Gateway instance namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ tools_managers.kubernetes_gateway.kubernetes.namespace }}"
    state: absent
    wait: true
