---
- name: Retrieve Chaos Mesh Schedule Custom Resource Definition
  kubernetes.core.k8s_info:
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: schedules.chaos-mesh.org
  register: tools_custom_resource_definition

- name: Import faults role
  ansible.builtin.import_role:
    name: faults
    tasks_from: remove_chaos_mesh_schedules.yaml
  vars:
    faults_cluster:
      kubeconfig: "{{ tools_cluster.kubeconfig }}"
  when:
    - tools_custom_resource_definition.api_found
    - tools_custom_resource_definition.resources | ansible.builtin.length == 1

- name: Uninstall Chaos Mesh
  kubernetes.core.helm:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_managers.chaos_mesh.helm.release.name }}"
    release_namespace: "{{ tools_managers.chaos_mesh.kubernetes.namespace }}"
    release_state: absent
    wait: true

- name: Delete Chaos Mesh Namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      api_version: v1
      kind: Namespace
      metadata:
        name: "{{ tools_managers.chaos_mesh.kubernetes.namespace }}"
    state: absent
    wait: true

- name: Remove OpenShift related objects
  when:
    - tools_cluster.platform == "openshift"
  block:
    - name: Retrieve Chaos Mesh related SecurityContextConstraints
      kubernetes.core.k8s_info:
        api_version: security.openshift.io/v1
        kind: SecurityContextConstraints
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        label_selectors:
          - app.kubernetes.io/component = chaos-mesh
          - app.kubernetes.io/managed-by = ITBench
      register: tools_security_context_constraints

    - name: Delete SCC for Chaos Mesh
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: "{{ security_context_constraint.apiVersion }}"
          kind: "{{ security_context_constraint.kind }}"
          metadata:
            name: "{{ security_context_constraint.metadata.name }}"
        state: absent
        wait: true
      loop: "{{ tools_security_context_constraints.resources }}"
      loop_control:
        label: securitycontextconstrains/{{ security_context_constraint.metadata.name }}
        loop_var: security_context_constraint
