---
argument_specs:
  main:
    author:
      - Gerard Vanloo
    options:
      waiters_cluster:
        options:
          kubeconfig:
            required: true
            type: str
        required: false
        type: dict
      waiters_tasks:
        elements: dict
        options:
          args:
            default: []
            required: false
            type: dict
          id:
            choices:
{% for waiter in waiters %}
              - {{ waiter.id }}
{% endfor %}
            required: true
            type: str
        required: true
        type: list
