---
- name: Create Kubernetes objects
  hosts:
    - environment
  tasks:
    - name: Create namespace
      kubernetes.core.k8s:
        kubeconfig: "{{ cluster.kubeconfig }}"
        resource_definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: insufficient-kubernetes-resource-quota-test
        state: present

    - name: Create deployment
      kubernetes.core.k8s:
        kubeconfig: "{{ cluster.kubeconfig }}"
        resource_definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: compromised-workload
            namespace: insufficient-kubernetes-resource-quota-test
          spec:
            replicas: 2
            selector:
              matchLabels:
                app.kubernetes.io/name: compromised-workload
            template:
              metadata:
                labels:
                  app.kubernetes.io/name: compromised-workload
              spec:
                containers:
                  - name: server
                    image: registry.access.redhat.com/ubi10-minimal:10.1-1770180557
                    command:
                      - /bin/sh
                    args:
                      - -c
                      - "sleep infinity"
                    resources:
                      requests:
                        memory: "512Mi"
                      limits:
                        memory: "512Mi"
        state: present
        wait: true
