---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: {{ [injection_task.args.kubernetesObject.metadata.namespace, "memory"] | join("-") }}
  namespace: {{ injection_task.args.kubernetesObject.metadata.namespace }}
spec:
  hard:
    memory: 1Gi
