---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-33
spec:
  applications:
    opentelemetryDemo:
      enabled: true
  faults:
    - injections:
        - args:
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: ad
                namespace: otel-demo
          id: nonexistent-kubernetes-workload-node
        - args:
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: cart
                namespace: otel-demo
          id: nonexistent-kubernetes-workload-node
  tools:
    sre:
      enabled: true
