---
- name: Verify that fault injection succeeded
  hosts:
    - environment
  tasks:
    - name: Retrieve workload
      kubernetes.core.k8s_info:
        kubeconfig: "{{ cluster.kubeconfig }}"
        api_version: apps/v1
        kind: Deployment
        name: compromised-workload
        namespace: hanging-kubernetes-workload-init-container-test
      register: test_deployment

    - name: Validate that init container was added
      ansible.builtin.assert:
        that:
          - test_deployment.resources[0].spec.template.spec.initContainers is defined
          - test_deployment.resources[0].spec.template.spec.initContainers | ansible.builtin.length == 1
        fail_msg: Init container not found. Fault injection failed.
        success_msg: Init container found.

    - name: Retrieve pods
      kubernetes.core.k8s_info:
        kubeconfig: "{{ cluster.kubeconfig }}"
        api_version: v1
        kind: Pod
        namespace: hanging-kubernetes-workload-init-container-test
        label_selectors:
          - app.kubernetes.io/name=compromised-workload
      register: test_pods

    - name: Validate that pods are stuck in init phase
      ansible.builtin.assert:
        that:
          - test_pods.resources | ansible.builtin.length == 2
          - test_pods.resources | ansible.builtin.selectattr('status.phase', 'equalto', 'Pending') | ansible.builtin.length == 1
        fail_msg: Stuck pods not found. Fault injection failed.
        success_msg: Stuck pods found.
