---
argument_specs:
  main:
    author:
      - Gerard Vanloo
    options:
      scenarios_identifier:
        choices:
{% for scenario in scenarios %}
          - {{ scenario.id }}
{% endfor %}
        required: true
        type: int
