---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-20
spec:
  applications:
    opentelemetryDemo:
      enabled: true
  faults:
    - injections:
        - args:
            container:
              name: product-catalog
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: product-catalog
                namespace: otel-demo
          id: nonexistent-kubernetes-workload-container-image
  tools:
    sre:
      enabled: true
