---
- name: Verify that access was revoked correctly
  hosts:
    - environment
  tasks:
    - name: Create path variable for restricted kubeconfig
      ansible.builtin.set_fact:
        agent_restricted_kubeconfig_path: "{{ working_directory }}/kubeconfig"

    - name: Validate if restricted kubeconfig was created
      ansible.builtin.assert:
        that:
          - agent_restricted_kubeconfig_path is ansible.builtin.file
        fail_msg: Restricted kubeconfig was not created.
        success_msg: Restricted kubeconfig exists.

    - name: Retrieve pods in application namespace
      ansible.builtin.command:
        cmd: kubectl -n application get pods --kubeconfig={{ agent_restricted_kubeconfig_path }}
      changed_when: false
      failed_when: agent_application_pods_list_result.rc == 0
      register: agent_application_pods_list_result

    - name: Validate that access was denied after revocation
      ansible.builtin.assert:
        that:
          - agent_application_pods_list_result.rc != 0
        fail_msg: Pods are still accessible to agent. Revoke failed.
        success_msg: Pods are not accessible to agent

    - name: Retrieve Role
      kubernetes.core.k8s_info:
        kubeconfig: "{{ cluster.kubeconfig }}"
        api_version: rbac.authorization.k8s.io/v1
        kind: Role
        name: agent-read-write-access
        namespace: application
      register: agent_role

    - name: Validate Role was deleted
      ansible.builtin.assert:
        that:
          - agent_role.resources | ansible.builtin.length == 0
        fail_msg: Role was not deleted. Revoke failed.
        success_msg: Role was successfully deleted.

    - name: Retrieve RoleBinding
      kubernetes.core.k8s_info:
        kubeconfig: "{{ cluster.kubeconfig }}"
        api_version: rbac.authorization.k8s.io/v1
        kind: RoleBinding
        name: agent-read-write-access
        namespace: application
      register: agent_role_binding

    - name: Validate RoleBinding was deleted
      ansible.builtin.assert:
        that:
          - agent_role_binding.resources | ansible.builtin.length == 0
        fail_msg: RoleBinding was not deleted. Revoke failed.
        success_msg: RoleBinding was successfully deleted.

    - name: Retrieve ServiceAccount
      kubernetes.core.k8s_info:
        kubeconfig: "{{ cluster.kubeconfig }}"
        api_version: v1
        kind: ServiceAccount
        name: agent
        namespace: agent-access-manager
      register: agent_service_account

    - name: Validate ServiceAccount was deleted
      ansible.builtin.assert:
        that:
          - agent_service_account.resources | ansible.builtin.length == 0
        fail_msg: ServiceAccount was not deleted. Revoke failed.
        success_msg: ServiceAccount was successfully deleted.
