---
dependency:
  name: galaxy

ansible:
  env:
    ANSIBLE_ROLES_PATH: ../../..
  executor:
    backend: ansible-playbook
    args:
      ansible_playbook:
        - --inventory=${MOLECULE_PROJECT_DIRECTORY}/../../inventory.yaml
        - --tags=install_tools,untagged
  playbooks:
    cleanup: cleanup.yml
    converge: converge.yml
    verify: verify.yml

scenario:
  name: install_sre
  test_sequence:
    - syntax
    - converge
    - verify
    - cleanup
