{% for runner in argo_runners %}
---
apiVersion: v1
kind: Secret
metadata:
  name: runner-{{ loop.index }}-kubeconfig
  namespace: {{ argo_releases.argo_workflows.namespace }}
stringData:
  kubeconfig: {{ lookup("ansible.builtin.file", runner.kubeconfig) }}
{% endfor %}
