{% if argo_credentials.providers is defined %}
{% if argo_credentials.providers.aws is defined %}
---
apiVersion: v1
kind: Secret
metadata:
  name: aws-credentials
  namespace: {{ argo_releases.argo_workflows.namespace }}
stringData:
  AWS_ACCESS_KEY_ID: {{ argo_credentials.providers.aws.access_key }} # pragma: allowlist secret
  AWS_SECRET_ACCESS_KEY: {{ argo_credentials.providers.aws.secret_access_key }} # pragma: allowlist secret
{% endif %}
{% endif %}
{% for runner in argo_runners %}
---
apiVersion: v1
kind: Secret
metadata:
  name: runner-{{ loop.index }}-kubeconfig
  namespace: {{ argo_releases.argo_workflows.namespace }}
stringData:
  kubeconfig: {{ query("ansible.builtin.file", runner.kubeconfig) }}
{% endfor %}
