---
# Note: The Prometheus offered by OpenShift is v2, while the one installed
#       in the chart is v3. While otel-demo supports the `otlphttp` exporter,
#       this is not easily exposed in OpenShift. So, IT-Bench uses the `prometheus`
#       exporter instead to support both platforms until the functionality of
#       Prometheus is the same on both platforms.

# Note: Due to a Helm bug, the value of the `otlphttp` and `opensearch` exports cannot
#       be set to null in order to remove the chart's values. So, the configuration of
#       the exporters is still correctly set, but not used for forwarding the data.
#       Requires backport: https://github.com/helm/helm/issues/30587

- name: Create Namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    template: templates/kubernetes/otel_demo/namespace.j2
    state: present

- name: Import tools role for variable setting tasks
  ansible.builtin.import_role:
    name: tools
    tasks_from: set_clickhouse_credentials
  vars:
    tools_cluster:
      kubeconfig: "{{ applications_cluster.kubeconfig }}"

- name: Import tools role for variable setting tasks
  ansible.builtin.import_role:
    name: tools
    tasks_from: set_clickhouse_endpoint
  vars:
    tools_cluster:
      kubeconfig: "{{ applications_cluster.kubeconfig }}"

- name: Import tools role for variable setting tasks
  ansible.builtin.import_role:
    name: tools
    tasks_from: set_jaeger_endpoint
  vars:
    tools_cluster:
      kubeconfig: "{{ applications_cluster.kubeconfig }}"

- name: Import tools role for variable setting tasks
  ansible.builtin.import_role:
    name: tools
    tasks_from: set_prometheus_endpoint
  vars:
    tools_cluster:
      kubeconfig: "{{ applications_cluster.kubeconfig }}"

- name: Install OpenTelemetry Demo (Astronomy Shop)
  kubernetes.core.helm:
    chart_ref: oci://ghcr.io/open-telemetry/opentelemetry-helm-charts/opentelemetry-demo
    chart_version: 0.38.6
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    release_name: "{{ applications_helm_releases.otel_demo.name }}"
    release_namespace: "{{ applications_helm_releases.otel_demo.namespace }}"
    release_state: present
    timeout: 10m0s
    values: "{{ lookup('ansible.builtin.template', 'templates/helm/otel_demo/values.j2') }}"
    wait: true

- name: Retrieve all pods
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Pod
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    namespace: "{{ applications_helm_releases.otel_demo.namespace }}"
  register: applications_otel_demo_pods

- name: Wait for pods to reach ready state
  kubernetes.core.k8s_info:
    api_version: "{{ pod.apiVersion }}"
    kind: "{{ pod.kind }}"
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    name: "{{ pod.metadata.name }}"
    namespace: "{{ pod.metadata.namespace }}"
    wait: true
    wait_condition:
      type: Ready
      status: "True"
    wait_timeout: 300
  loop: "{{ otel_demo_pods.resources }}"
  loop_control:
    label: "pod/{{ pod.metadata.name }}"
    loop_var: pod

- name: Retrieve all deployments
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    namespace: "{{ applications_helm_releases.otel_demo.namespace }}"
  register: applications_otel_demo_deployments

- name: Create HorizontalPodAutorscalers
  kubernetes.core.k8s:
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    template: templates/kubernetes/otel_demo/horizontalpodautoscalers.j2
    state: present
  vars:
    workloads: |-
      {{
        applications_otel_demo_deployments.resources |
        rejectattr('metadata.name', '==', 'load-generator') |
        rejectattr('metadata.name', '==', 'otel-collector')
      }}
  when:
    - applications_configuration.otel_demo.options.autoscaling.enabled | default(false)

- name: Create PrometheusRules
  kubernetes.core.k8s:
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    template:
      path: templates/kubernetes/otel_demo/prometheusrules.j2
      variable_end_string: "]]"
      variable_start_string: "[["
    state: present
