---
- name: Create temporary directory for Git checkout
  ansible.builtin.tempfile:
    prefix: book_info
    state: directory
  register: applications_temporary_directory

- name: Checkout Istio repository using Git
  ansible.builtin.git:
    depth: 1
    dest: "{{ applications_temporary_directory.path }}"
    repo: https://github.com/istio/istio.git
    version: 1.28.1

- name: Create the release namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ applications_instances.book_info.namespace }}"
        labels:
          it-bench/monitoring: "true"
    state: present

- name: Create BookInfo Kubernetes objects
  kubernetes.core.k8s:
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    namespace: "{{ applications_instances.book_info.namespace }}"
    state: present
    src: "{{ applications_temporary_directory.path }}/{{ manifest_file_path }}"
  loop:
    - samples/bookinfo/platform/kube/bookinfo.yaml
    - samples/bookinfo/platform/kube/bookinfo-versions.yaml
    - samples/bookinfo/gateway-api/bookinfo-gateway.yaml
  loop_control:
    label: manifest/{{ manifest_file_path | basename }}
    loop_var: manifest_file_path

- name: Create Prometheus Pod Monitors
  kubernetes.core.k8s:
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    template: templates/kubernetes/book_info/podmonitors.j2
    state: present

- name: Wait for Kubernetes Gateway to be programmed
  kubernetes.core.k8s_info:
    api_version: gateway.networking.k8s.io/v1
    kind: Gateway
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    name: bookinfo-gateway
    namespace: "{{ applications_instances.book_info.namespace }}"
    wait: true
    wait_condition:
      reason: Programmed
      status: "True"
      type: Programmed

- name: Retrieve all deployments
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    namespace: "{{ applications_instances.book_info.namespace }}"
  register: applications_book_info_deployments

- name: Label all pods managed by deployments with Istio Ambient Plane label
  kubernetes.core.k8s:
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ deployment.apiVersion }}"
      kind: "{{ deployment.kind }}"
      metadata:
        name: "{{ deployment.metadata.name }}"
        namespace: "{{ deployment.metadata.namespace }}"
      spec:
        template:
          metadata:
            labels: |-
              {{
                deployment.spec.template.metadata.labels |
                combine({'istio.io/dataplane-mode': 'ambient'})
              }}
    state: patched
  loop: "{{ applications_book_info_deployments.resources }}"
  loop_control:
    label: deployment/{{ deployment.metadata.name }}
    loop_var: deployment

- name: Create HorizontalPodAutorscalers
  kubernetes.core.k8s:
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    template: templates/otel_demo/horizontalpodautoscalers.j2
    state: present
  vars:
    workloads: "{{ applications_book_info_deployments.resources }}"

- name: Delete the temporary directory
  ansible.builtin.file:
    path: "{{ applications_temporary_directory.path }}"
    state: absent

- name: Retrieve Kubernetes Gateway address
  kubernetes.core.k8s_info:
    api_version: gateway.networking.k8s.io/v1
    kind: Gateway
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    name: bookinfo-gateway
    namespace: "{{ applications_instances.book_info.namespace }}"
  register: applications_gateway
  until:
    - applications_gateway.resources | length == 1
    - applications_gateway.resources[0].status.addresses is defined
    - applications_gateway.resources[0].status.addresses | length > 0
  delay: 15
  retries: 20

- name: Extract ip address information
  ansible.builtin.set_fact:
    applications_book_info_gateway_endpoints:
      http: http://{{ applications_gateway.resources[0].status.addresses[0].value }}:80
  when:
    - applications_gateway.resources[0].status.addresses[0].type == "IPAddress"

- name: Extract hostname address information
  ansible.builtin.set_fact:
    applications_book_info_gateway_endpoints:
      http: http://{{ applications_gateway.resources[0].status.addresses[0].value }}
  when:
    - applications_gateway.resources[0].status.addresses[0].type == "Hostname"

- name: Create additional deployments
  kubernetes.core.k8s:
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    template:
      path: templates/kubernetes/book_info/deployment.j2
      variable_end_string: "]]"
      variable_start_string: "[["
    state: present

- name: Create PrometheusRules
  kubernetes.core.k8s:
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    template:
      path: templates/kubernetes/book_info/prometheusrules.j2
      variable_end_string: "]]"
      variable_start_string: "[["
    state: present
