---
- name: Delete Namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ applications_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ applications_managers.book_info.kubernetes.namespace }}"
    state: absent
    wait: true
