---
- name: Run fault injection test
  hosts:
    - environment
  tasks:
    - name: Import faults role
      ansible.builtin.import_role:
        name: faults
      vars:
        faults_cluster:
          kubeconfig: "{{ cluster.kubeconfig }}"
        faults_injection_tasks:
          - id: kubernetes-api-server-request-surge
            args:
              kubernetesObject:
                apiVersion: v1
                kind: Namespace
                metadata:
                  name: kubernetes-api-server-request-surge-test
              loadGenerator:
                options:
                  requestsPerSecond: 10
