---
- name: Load scenarios library index
  ansible.builtin.set_fact:
    scenarios_library_index: |-
      {{
        lookup('ansible.builtin.file', index_file_path) |
        ansible.builtin.from_json
      }}
  vars:
    index_file_path: "{{ playbook_dir }}/../roles/documentation/files/library/scenarios/index.json"

- name: Validate resource definitions in scenarios
  ansible.builtin.include_tasks: validate_scenario_resources.yaml
  loop: "{{ scenarios_library_index }}"
  loop_control:
    loop_var: scenario
    label: "scenario-{{ scenario.id }}"

- name: Generate scenario directory paths
  ansible.builtin.set_fact:
    scenarios_directory_paths: |-
      {{
        scenarios_directory_paths |
        ansible.builtin.default({}) |
        ansible.builtin.combine({scenario.id: directory_path})
      }}
  loop: "{{ scenarios_library_index }}"
  loop_control:
    label: scenario-{{ scenario.id }}
    loop_var: scenario
  vars:
    directory_path: |-
      {{
        [
          role_path,
          'files',
          [
            'scenario',
            scenario.id
          ] | ansible.builtin.join('_')
        ] |
        ansible.builtin.path_join
      }}

- name: Generate scenario directories
  ansible.builtin.file:
    mode: "0755"
    path: "{{ scenarios_directory_paths[scenario.id] }}"
    state: directory
  loop: "{{ scenarios_library_index }}"
  loop_control:
    label: scenario-{{ scenario.id }}
    loop_var: scenario
  when:
    - not (scenarios_directory_paths[scenario.id] is directory)

- name: Create scenarios roles meta argument specs file
  ansible.builtin.copy:
    content: "{{ scenarios_argument_specs | ansible.builtin.to_nice_yaml(indent=2) }}"
    dest: "{{ [role_path, 'meta', 'argument_specs.yaml'] | ansible.builtin.path_join }}"
    mode: "0644"
  vars:
    scenarios_argument_specs: |-
      {{
        lookup('ansible.builtin.template', 'templates/meta/argument_specs.j2') |
        ansible.builtin.from_yaml
      }}

- name: Generate scenario specs
  ansible.builtin.copy:
    content: |-
      {{
        lookup('ansible.builtin.template', 'templates/manifests/scenario.j2') |
        ansible.builtin.from_yaml |
        ansible.builtin.to_nice_yaml(indent=2, width=160)
      }}
    dest: "{{ scenarios_directory_paths[scenario.id] }}/scenario.yaml"
    force: "{{ scenarios_files_generator.options.overwrite | ansible.builtin.default(false) }}"
    mode: "0644"
  loop: "{{ scenarios_library_index }}"
  loop_control:
    label: scenario-{{ scenario.id }}
    loop_var: scenario
  vars:
    enable_chaos_mesh: |-
      {{
        scenario.disruptions |
        map(attribute="injections") |
        ansible.builtin.flatten |
        ansible.builtin.selectattr("id", "==", "scheduled-chaos-mesh-experiment") |
        ansible.builtin.length > 0
      }}

- name: Generate scenario ground truths
  ansible.builtin.copy:
    content: |
      {{
        lookup('ansible.builtin.template', 'templates/manifests/groundtruth.j2') |
        ansible.builtin.from_yaml |
        ansible.builtin.to_nice_yaml(indent=2, width=160)
      }}
    dest: "{{ scenarios_directory_paths[scenario.id] }}/groundtruth.yaml"
    force: "{{ scenarios_files_generator.options.overwrite | ansible.builtin.default(false) }}"
    mode: "0644"
  loop: "{{ scenarios_library_index }}"
  loop_control:
    label: scenario-{{ scenario.id }}
    loop_var: scenario
