---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-42
spec:
  applications:
    opentelemetryDemo:
      enabled: true
  faults:
    - injections:
        - args:
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: kafka
                namespace: otel-demo
          id: priority-kubernetes-workload-priority-preemption
  tools:
    sre:
      enabled: true
