---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ injection_task.args.kubernetesObject.metadata.name }}
  namespace: {{ injection_task.args.kubernetesObject.metadata.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 25Mi
  storageClassName: invalid-class-name
