---
apiVersion: v1
kind: ConfigMap
metadata:
  name: valkey-storage-script
  namespace: {{ injection_task.args.kubernetesObject.metadata.namespace }}
data:
  script: |
    {{ bash_script_contents | indent(width=4) }}
