ansible-sign @ git+https://github.com/ansible/ansible-sign@59d5c75ef202ed1c57e124a378e59d1d4045219b
ncclient==0.7.0
paramiko==4.0.0
pykerberos==1.2.4
pyOpenSSL==24.2.1
pypsrp==0.8.1
pywinrm==0.5.0
toml==0.10.2
pexpect==4.9.0
python-daemon==3.1.2
PyYAML==6.0.3
six==1.16.0
receptorctl==1.6.1
