---
- name: Retrieve workload
  kubernetes.core.k8s_info:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    api_version: "{{ injection_task.args.kubernetesObject.apiVersion }}"
    kind: "{{ injection_task.args.kubernetesObject.kind }}"
    name: "{{ injection_task.args.kubernetesObject.metadata.name }}"
    namespace: "{{ injection_task.args.kubernetesObject.metadata.namespace }}"
  register: injections_workload

- name: Validate that workload exists
  ansible.builtin.assert:
    that:
      - injections_workload is defined
      - injections_workload.resources | ansible.builtin.length == 1
    fail_msg: Unable to find workload. Please verify that the workload exists.
    success_msg: Found workload.

- name: Retrieve all pods with workload labels
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Pod
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    namespace: "{{ injections_workload.resources[0].metadata.namespace }}"
    label_selectors: "{{ injections_workload.resources[0].spec.template.metadata.labels.items() | map('join', ' = ') }}"
  register: injections_workload_pods

- name: Validate that workload pod(s) exists
  ansible.builtin.assert:
    that:
      - injections_workload_pods is defined
      - injections_workload_pods.resources | ansible.builtin.length > 0
    fail_msg: Unable to find workload pod(s). Please verify that the workload is running.
    success_msg: Found {{ injections_workload_pods.resources | ansible.builtin.length }} pod(s).

- name: Change password
  kubernetes.core.k8s_exec:
    command: valkey-cli CONFIG SET requirepass "invalid_password"
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    namespace: "{{ pod.metadata.namespace }}"
    pod: "{{ pod.metadata.name }}"
  loop: "{{ injections_workload_pods.resources }}"
  loop_control:
    label: "{{ pod.kind | lower }}/{{ pod.metadata.name }}"
    loop_var: pod

- name: Kill existing client connections to force re-connection
  kubernetes.core.k8s_exec:
    command: valkey-cli -a "invalid_password" CLIENT KILL TYPE normal
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    namespace: "{{ pod.metadata.namespace }}"
    pod: "{{ pod.metadata.name }}"
  loop: "{{ injections_workload_pods.resources }}"
  loop_control:
    label: "{{ pod.kind | lower }}/{{ pod.metadata.name }}"
    loop_var: pod
