---
- name: Retrieve workload
  kubernetes.core.k8s_info:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    api_version: "{{ injections_args.kubernetesObject.apiVersion }}"
    kind: "{{ injections_args.kubernetesObject.kind }}"
    name: "{{ injections_args.kubernetesObject.metadata.name }}"
    namespace: "{{ injections_args.kubernetesObject.metadata.namespace }}"
  register: injections_workload

- name: Validate that workload exists
  ansible.builtin.assert:
    that:
      - injections_workload is defined
      - injections_workload.resources | ansible.builtin.length == 1
    fail_msg: Unable to find workload. Please verify that the workload exists.
    success_msg: Found workload.

- name: Create ConfigMap
  kubernetes.core.k8s:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    template: templates/kubernetes/valkey_workload_out_of_memory/configmap.j2
    state: present
  vars:
    bash_script_contents: "{{ lookup('ansible.builtin.file', 'files/scripts/valkey_workload_out_of_memory/fill_storage.sh') }}"

- name: Update workload containers
  kubernetes.core.k8s:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ injections_workload.resources[0].apiVersion }}"
      kind: "{{ injections_workload.resources[0].kind }}"
      metadata:
        name: "{{ injections_workload.resources[0].metadata.name }}"
        namespace: "{{ injections_workload.resources[0].metadata.namespace }}"
      spec:
        template:
          spec:
            containers:
              - name: "{{ injections_container[0].name }}"
                command:
                  - /bin/sh
                  - -c
                  - "'/data/scripts/fill_storage.sh'"
                volumeMounts:
                  - name: scripts
                    mountPath: /data/scripts
            securityContext:
              fsGroup: 1000
            volumes:
              - name: scripts
                configMap:
                  name: valkey-storage-script
                  defaultMode: 0755
                  items:
                    - key: script
                      path: fill_storage.sh
    state: patched
