---
- name: Retrieve workload
  kubernetes.core.k8s_info:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    api_version: "{{ injections_args.kubernetesObject.apiVersion }}"
    kind: "{{ injections_args.kubernetesObject.kind }}"
    name: "{{ injections_args.kubernetesObject.metadata.name }}"
    namespace: "{{ injections_args.kubernetesObject.metadata.namespace }}"
  register: injections_workload

- name: Validate that workload exists
  ansible.builtin.assert:
    that:
      - injections_workload is defined
      - injections_workload.resources | ansible.builtin.length == 1
    fail_msg: Unable to find workload. Please verify that the workload exists.
    success_msg: Found workload.

- name: Update workload dns policy
  kubernetes.core.k8s:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ injections_workload.resources[0].apiVersion }}"
      kind: "{{ injections_workload.resources[0].kind }}"
      metadata:
        name: "{{ injections_workload.resources[0].metadata.name }}"
        namespace: "{{ injections_workload.resources[0].metadata.namespace }}"
      spec:
        template:
          spec:
            dnsPolicy: Default
    state: patched

- name: Wait for workload to update
  kubernetes.core.k8s_info:
    api_version: "{{ injections_workload.resources[0].apiVersion }}"
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    kind: "{{ injections_workload.resources[0].kind }}"
    name: "{{ injections_workload.resources[0].metadata.name }}"
    namespace: "{{ injections_workload.resources[0].metadata.namespace }}"
  register: injections_patched_workload
  until:
    - injections_patched_workload.resources | length == 1
    - injections_patched_workload.resources[0].status.availableReplicas == injections_patched_workload.resources[0].status.replicas
  delay: 15
  retries: 20
