---
- name: Retrieve service
  kubernetes.core.k8s_info:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    api_version: "{{ injections_args.kubernetesObject.apiVersion }}"
    kind: "{{ injections_args.kubernetesObject.kind }}"
    name: "{{ injections_args.kubernetesObject.metadata.name }}"
    namespace: "{{ injections_args.kubernetesObject.metadata.namespace }}"
  register: injections_service

- name: Validate that serivce exists
  ansible.builtin.assert:
    that:
      - injections_service is defined
      - injections_service.resources | ansible.builtin.length == 1
    fail_msg: Unable to find service. Please verify that the service exists.
    success_msg: Found service.

- name: Retrieve current target port configuration
  ansible.builtin.set_fact:
    injections_port: |-
      {{
        injections_service.resources[0].spec.ports |
        community.general.json_query("[?targetPort==injections_args.targetPort]")
      }}

- name: Validate that port exists
  ansible.builtin.assert:
    that:
      - injections_port | ansible.builtin.length == 1
    fail_msg: Unable to find port. Please verify that the port exists for service.
    success_msg: Found port.

- name: Update service ports
  kubernetes.core.k8s:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ injections_service.resources[0].apiVersion }}"
      kind: "{{ injections_service.resources[0].kind }}"
      metadata:
        name: "{{ injections_service.resources[0].metadata.name }}"
        namespace: "{{ injections_service.resources[0].metadata.namespace }}"
      spec:
        ports:
          - port: "{{ injections_port[0].port }}"
            targetPort: 9999
    state: patched
