---
- name: Retrieve workload
  kubernetes.core.k8s_info:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    api_version: "{{ injections_args.kubernetesObject.apiVersion }}"
    kind: "{{ injections_args.kubernetesObject.kind }}"
    name: "{{ injections_args.kubernetesObject.metadata.name }}"
    namespace: "{{ injections_args.kubernetesObject.metadata.namespace }}"
  register: injections_workload

- name: Validate that workload exists
  ansible.builtin.assert:
    that:
      - injections_workload is defined
      - injections_workload.resources | ansible.builtin.length == 1
    fail_msg: Unable to find workload. Please verify that the workload exists.
    success_msg: Found workload.

- name: Retrieve container
  ansible.builtin.set_fact:
    injections_container: |-
      {{
        injections_workload.resources[0].spec.template.spec.containers |
        community.general.json_query("[?name==injections_args.container.name]")
      }}

- name: Validate that container exists
  ansible.builtin.assert:
    that:
      - injections_container | ansible.builtin.length == 1
    fail_msg: Unable to find container. Please verify that the container exists for workload.
    success_msg: Found container.

# TODO: We need to add node labels to specific worker nodes so that the
#       the tool stack is not impacted by these faults.

- name: Retrieve worker nodes
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Node
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    label_selectors:
      - node-role.kubernetes.io/node =
  register: injections_worker_nodes

- name: Validate that worker nodes exists
  ansible.builtin.assert:
    that:
      - injections_worker_nodes is defined
      - injections_worker_nodes.resources | ansible.builtin.length > 0
    fail_msg: Unable to find worker nodes. Please run this fault on a cluster with worker nodes.
    success_msg: Found worker nodes.

- name: Select an available worker node randomly
  ansible.builtin.set_fact:
    injections_node: "{{ injections_worker_nodes.resources | ansible.builtin.random }}"

- name: Update workload containers
  kubernetes.core.k8s:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ injections_workload.resources[0].apiVersion }}"
      kind: "{{ injections_workload.resources[0].kind }}"
      metadata:
        name: "{{ injections_workload.resources[0].metadata.name }}"
        namespace: "{{ injections_workload.resources[0].metadata.namespace }}"
      spec:
        template:
          spec:
            containers:
              - name: "{{ injections_container[0].name }}"
                image: quay.io/it-bench/hello-bench-arm64:1.0.0
            nodeSelector:
              "kubernetes.io/hostname": "{{ injections_node.metadata.name }}"
    state: patched
  when:
    - injections_node.status.nodeInfo.architecture == "amd64"

- name: Update workload containers
  kubernetes.core.k8s:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ injections_workload.resources[0].apiVersion }}"
      kind: "{{ injections_workload.resources[0].kind }}"
      metadata:
        name: "{{ injections_workload.resources[0].metadata.name }}"
        namespace: "{{ injections_workload.resources[0].metadata.namespace }}"
      spec:
        template:
          spec:
            containers:
              - name: "{{ injections_container[0].name }}"
                image: quay.io/it-bench/hello-bench-amd64:1.0.0
            nodeSelector:
              "kubernetes.io/hostname": "{{ injections_node.metadata.name }}"
    state: patched
  when:
    - injections_node.status.nodeInfo.architecture == "arm64"
