---
- name: Retrieve gateway
  kubernetes.core.k8s_info:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    api_version: "{{ injections_args.kubernetesObject.apiVersion }}"
    kind: "{{ injections_args.kubernetesObject.kind }}"
    name: "{{ injections_args.kubernetesObject.metadata.name }}"
    namespace: "{{ injections_args.kubernetesObject.metadata.namespace }}"
  register: injections_gateway

- name: Validate that gateway exists
  ansible.builtin.assert:
    that:
      - injections_gateway is defined
      - injections_gateway.resources | ansible.builtin.length == 1
    fail_msg: Unable to find gateway. Please verify that the gateway exists.
    success_msg: Found gateway.

- name: Create authorization policy for gateway
  kubernetes.core.k8s:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    state: present
    template:
      path: templates/kubernetes/traffic_denying_istio_gateway_authorization_policy/authorizationpolicy.j2
    wait: true
    wait_condition:
      reason: Accepted
      status: "True"
      type: WaypointAccepted
