---
- name: Retrieve workload
  kubernetes.core.k8s_info:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    api_version: "{{ injections_args.kubernetesObject.apiVersion }}"
    kind: "{{ injections_args.kubernetesObject.kind }}"
    name: "{{ injections_args.kubernetesObject.metadata.name }}"
    namespace: "{{ injections_args.kubernetesObject.metadata.namespace }}"
  register: injections_workload

- name: Validate that workload exists
  ansible.builtin.assert:
    that:
      - injections_workload is defined
      - injections_workload.resources | ansible.builtin.length == 1
    fail_msg: Unable to find workload. Please verify that the workload exists.
    success_msg: Found workload.

- name: Retrieve container
  ansible.builtin.set_fact:
    injections_container: |-
      {{
        injections_workload.resources[0].spec.template.spec.containers |
        community.general.json_query("[?name==injections_args.container.name]")
      }}

- name: Validate that valid container exists
  ansible.builtin.assert:
    that:
      - injections_container | ansible.builtin.length == 1
    fail_msg: Unable to find container. Please verify that the container exists for workload.
    success_msg: Found container.

- name: Validate that environment variable exists
  ansible.builtin.assert:
    that:
      - injections_container[0].env | community.general.json_query("[?name==injections_args.container.env.name]") | length == 1
    fail_msg: Unable to find environment variable. Please verify that the environment variable exists.
    success_msg: Found environment variable.

- name: Update workload containers
  kubernetes.core.k8s:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ injections_workload.resources[0].apiVersion }}"
      kind: "{{ injections_workload.resources[0].kind }}"
      metadata:
        name: "{{ injections_workload.resources[0].metadata.name }}"
        namespace: "{{ injections_workload.resources[0].metadata.namespace }}"
      spec:
        template:
          spec:
            containers:
              - name: "{{ injections_container[0].name }}"
                env:
                  - name: "{{ injections_args.container.env.name }}"
                    value: "{{ injections_args.container.env.value }}"
    state: patched
