---
- name: Retrieve workload
  kubernetes.core.k8s_info:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    api_version: "{{ injection_task.args.kubernetesObject.apiVersion }}"
    kind: "{{ injection_task.args.kubernetesObject.kind }}"
    name: "{{ injection_task.args.kubernetesObject.metadata.name }}"
    namespace: "{{ injection_task.args.kubernetesObject.metadata.namespace }}"
  register: injections_workload

- name: Validate that workload exists
  ansible.builtin.assert:
    that:
      - injections_workload is defined
      - injections_workload.resources | ansible.builtin.length == 1
    fail_msg: Unable to find workload. Please verify that the workload exists.
    success_msg: Found workload.

- name: Create network policy for workload
  kubernetes.core.k8s:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    state: present
    template: templates/kubernetes/ingress_port_blocking_network_policy/networkpolicy.j2
