---
- name: Retrieve workload
  kubernetes.core.k8s_info:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    api_version: "{{ injections_args.kubernetesObject.apiVersion }}"
    kind: "{{ injections_args.kubernetesObject.kind }}"
    name: "{{ injections_args.kubernetesObject.metadata.name }}"
    namespace: "{{ injections_args.kubernetesObject.metadata.namespace }}"
  register: injections_workload

- name: Validate that workload exists
  ansible.builtin.assert:
    that:
      - injections_workload is defined
      - injections_workload.resources | ansible.builtin.length == 1
    fail_msg: Unable to find workload. Please verify that the workload exists.
    success_msg: Found workload.

- name: Create ResourceQuota
  kubernetes.core.k8s:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    template: templates/kubernetes/insufficent_kubernetes_resource_quota/resourcequota.j2
    state: present

- name: Scale down workload
  kubernetes.core.k8s_scale:
    api_version: "{{ injections_workload.resources[0].apiVersion }}"
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    kind: "{{ injections_workload.resources[0].kind }}"
    name: "{{ injections_workload.resources[0].metadata.name }}"
    namespace: "{{ injections_workload.resources[0].metadata.namespace }}"
    replicas: 0
    wait: true
    wait_timeout: 60

# NOTE: Do not wait for the following operation to complete successfully.
#       It will not because the node is cordoned and thus no new pods can
#       be created on the node.

- name: Scale up workload
  kubernetes.core.k8s_scale:
    api_version: "{{ injections_workload.resources[0].apiVersion }}"
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    kind: "{{ injections_workload.resources[0].kind }}"
    name: "{{ injections_workload.resources[0].metadata.name }}"
    namespace: "{{ injections_workload.resources[0].metadata.namespace }}"
    replicas: "{{ injections_workload.resources[0].spec.replicas }}"
    wait: false
