---
- name: Retrieve fault related priority classes
  kubernetes.core.k8s_info:
    api_version: scheduling.k8s.io/v1
    kind: PriorityClass
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    label_selectors:
      - app.kubernetes.io/managed-by = ITBench
  register: injections_priority_classes

- name: Delete all fault related priority classes
  kubernetes.core.k8s:
    kubeconfig: "{{ injections_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ priorityclass.apiVersion }}"
      kind: "{{ priorityclass.kind }}"
      metadata:
        name: "{{ priorityclass.metadata.name }}"
    state: absent
    wait: true
  loop: "{{ injections_priority_classes.resources }}"
  loop_control:
    label: priorityclass/{{ priorityclass.metadata.name }}
    loop_var: priorityclass
