---
- name: Run fault injection test
  hosts:
    - environment
  tasks:
    - name: Import faults role
      ansible.builtin.import_role:
        name: faults
      vars:
        faults_cluster:
          kubeconfig: "{{ cluster.kubeconfig }}"
        faults_injection_tasks:
          - id: disabled-istio-ambient-mode-kubernetes-namespace
            args:
              kubernetesObject:
                apiVersion: v1
                kind: Namespace
                metadata:
                  name: disabled-istio-ambient-mode-kubernetes-namespace-test
