---
- name: Create Kubernetes objects
  hosts:
    - environment
  tasks:
    - name: Create namespace
      kubernetes.core.k8s:
        kubeconfig: "{{ cluster.kubeconfig }}"
        resource_definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: disabled-istio-ambient-mode-kubernetes-namespace-test
        state: present
