---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-45
spec:
  applications:
    opentelemetryDemo:
      enabled: true
  faults:
    - injections:
        - args:
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: email
                namespace: otel-demo
          id: hanging-kubernetes-workload-init-container
  tools:
    sre:
      enabled: true
