---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: opencost
  namespace: {{ tools_managers.opencost.kubernetes.namespace }}
spec:
  groups:
    - name: opencost.workload_cpu_cost_per_request
      rules:
        - record: container_namespace_node:container_cpu_allocation_cost_per_node:avg5m
          expr: |
            sum (
              avg_over_time(
                container_cpu_allocation[5m]
              )
            )
            by (container, namespace, node) * on (node) group_left
            sum (
              avg_over_time(
                node_cpu_hourly_cost[5m]
              )
            ) by (node)
    - name: opencost.workload_memory_cost_per_request
      rules:
        - record: container_namespace_node:container_memory_allocation_gigabytes_cost_per_node:avg5m
          expr: |
            sum (
              avg_over_time(
                container_memory_allocation_bytes[5m]
              ) / 1024 / 1024 / 1024
            ) by(container, namespace, node)
            * on (node) group_left
            sum (
              avg_over_time(
                node_ram_hourly_cost[5m]
              )
            ) by(node)
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: workloads
  namespace: {{ tools_managers.opencost.kubernetes.namespace }}
    - name: workload.efficiency
      rules:
        - record: container_namespace:container_cpu_usage_seconds_per_requests:ratio_irate1m
          expr: |
            max (
              irate(
                container_cpu_usage_seconds_total{container=~".+"}[1m]
              )
            ) by(container, namespace)
            /
            sum (
              avg_over_time(
                kube_pod_container_resource_requests{container=~".+", job="kube-state-metrics", resource="cpu"}[1m]
              )
            ) by(container, namespace)
        - record: container_namespace:container_memory_working_set_bytes_per_requests_bytes:ratio_avg1m
          expr: |
            max (
              avg_over_time(
                container_memory_working_set_bytes{container=~".+"}[1m]
              )
            ) by(container, namespace)
            /
            sum (
              avg_over_time(
                kube_pod_container_resource_requests{container=~".+", job="kube-state-metrics", resource="memory"}[1m]
              )
            ) by(container, namespace)
