---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ tools_managers.opensearch.kubernetes.namespace }}"
{% if tools_cluster.platform == "openshift" %}
  annotations:
    openshift.io/sa.scc.mcs: s0:c33,c22
    openshift.io/sa.scc.uid-range: 1000/1000
    openshift.io/sa.scc.supplemental-groups: 1000/1000
{% endif %}
