---
{% if applications_cluster.platform == "openshift" %}
serviceAccount:
  create: false
  name: {{ applications_managers.opentelemetry_demo.helm.release.name }}
{% endif %}
components:
  accounting:
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1654
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 250m
        memory: 256Mi
  ad:
    resources:
      limits:
        cpu: 150m
        memory: 512Mi
      requests:
        cpu: 50m
        memory: 256Mi
  fraud-detection:
    resources:
      limits:
        memory: 512Mi
      requests:
        memory: 256Mi
  image-provider:
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 101
  kafka:
    resources:
      limits:
        memory: 1024Mi
      requests:
        memory: 512Mi
  load-generator:
    envOverrides:
      - name: LOCUST_BROWSER_TRAFFIC_ENABLED
        value: |-
          {{
            applications_configuration.opentelemetryDemo.options.loadGeneration.browserTraffic |
            ansible.builtin.default(false) |
            ansible.builtin.string
          }}
      - name: LOCUST_SPAWN_RATE
        value: |-
          {{
            applications_configuration.opentelemetryDemo.options.loadGeneration.usersSpawnRate |
            ansible.builtin.default(5) |
            ansible.builtin.string
          }}
      - name: LOCUST_USERS
        value: |-
          {{
            applications_configuration.opentelemetryDemo.options.loadGeneration.users |
            ansible.builtin.default(50) |
            ansible.builtin.string
          }}
  product-catalog:
    resources:
      limits:
        memory: 160Mi
  recommendation:
    resources:
      limits:
        cpu: 200m
        memory: 512Mi
      requests:
        cpu: 50m
        memory: 128Mi
  valkey-cart:
    podSecurityContext:
      runAsGroup: 1000
      runAsNonRoot: true
      runAsUser: 999
opentelemetry-collector:
  config:
    connectors:
      spanmetrics:
        dimensions:
          - name: namespace
            default: {{ applications_managers.opentelemetry_demo.kubernetes.namespace }}
    exporters:
      clickhouse:
        username: {{ tools_clickhouse_username }}
        password: {{ tools_clickhouse_password }}
        endpoint: {{ tools_clickhouse_endpoint.http }}
        logs_table_name: otel_demo_logs
        traces_table_name: otel_demo_traces
      otlp/jaeger:
        endpoint: {{ tools_jaeger_endpoint.collector.grpc }}
      prometheus:
        endpoint: 0.0.0.0:8888
    service:
      pipelines:
        logs:
          exporters:
            - clickhouse
            - debug
        metrics:
          exporters:
            - debug
            - prometheus
        traces:
          exporters:
            - clickhouse
            - debug
            - otlp/jaeger
            - spanmetrics
      telemetry:
        metrics:
          level: detailed
          readers:
            - pull:
                exporter:
                  prometheus:
                    host: 0.0.0.0
                    port: 8889
  mode: deployment
  presets:
    clusterMetrics:
      enabled: false
    hostMetrics:
      enabled: false
    kubeletMetrics:
      enabled: false
  serviceMonitor:
    enabled: true
    metricsEndpoints:
      - port: metrics
      - port: telemetry
  ports:
    jaeger-compact:
      enabled: false
    jaeger-thrift:
      enabled: false
    jaeger-grpc:
      enabled: false
    metrics:
      enabled: true
    telemetry:
      enabled: true
      containerPort: 8889
      servicePort: 8889
      protocol: TCP
    zipkin:
      enabled: false
grafana:
  enabled: false
jaeger:
  enabled: false
opensearch:
  enabled: false
prometheus:
  enabled: false
