---
- name: Load waiters library index and schema
  ansible.builtin.set_fact:
    documentation_waiters_library: "{{ lookup('ansible.builtin.file', 'files/library/waiters/index.json') | from_json }}"
    documentation_waiters_schema: "{{ lookup('ansible.builtin.file', 'files/library/waiters/schema.json') | from_json }}"

- name: Validate waiters library index
  ansible.utils.validate:
    data: "{{ waiter }}"
    criteria: "{{ documentation_waiters_schema }}"
    engine: ansible.utils.jsonschema
  loop: "{{ documentation_waiters_library }}"
  loop_control:
    label: waiter/{{ waiter.id }}
    loop_var: waiter
