---
- name: Load scenarios library index and schema
  ansible.builtin.set_fact:
    documentation_scenarios_library: |-
      {{
        lookup("ansible.builtin.file", "files/library/scenarios/index.json") |
        ansible.builtin.from_json
      }}
    documentation_scenarios_schema: |-
      {{
        lookup("ansible.builtin.file", "files/library/scenarios/schema.json") |
        ansible.builtin.from_json
      }}

- name: Generate map for faults based on fault id
  ansible.builtin.set_fact:
    documentation_faults: |-
      {{
        documentation_faults |
        ansible.builtin.default({}) |
        ansible.builtin.combine({fault.id: fault})
      }}
  loop: |-
    {{
      lookup("ansible.builtin.file", "files/library/faults/index.json") |
      ansible.builtin.from_json
    }}
  loop_control:
    label: fault/{{ fault.id }}
    loop_var: fault

- name: Generate map for waiters based on waiter id
  ansible.builtin.set_fact:
    documentation_waiters: |-
      {{
        documentation_waiters |
        ansible.builtin.default({}) |
        ansible.builtin.combine({waiter.id: waiter})
      }}
  loop: |-
    {{
      lookup("ansible.builtin.file", "files/library/waiters/index.json") |
      ansible.builtin.from_json
    }}
  loop_control:
    label: waiter/{{ waiter.id }}
    loop_var: waiter

- name: Generate list of scenario objects for validation
  ansible.builtin.set_fact:
    documentation_scenario_injections: |-
      {{
        (
          documentation_scenario_injections |
          ansible.builtin.default([])
        ) +
        (
          [scenario.id] |
          ansible.builtin.product(
            scenario.disruptions |
            community.general.json_query("[*].injections") |
            ansible.builtin.flatten
          )
        )
      }}
    documentation_scenario_waiters: |-
      {{
        (
          documentation_scenario_waiters |
          ansible.builtin.default([])
        ) +
        (
          [scenario.id] |
          ansible.builtin.product(
            scenario.disruptions |
            community.general.json_query("[*].waitFor") |
            ansible.builtin.flatten
          )
        )
      }}
  loop: "{{ documentation_scenarios_library }}"
  loop_control:
    label: scenario-{{ scenario.id }}
    loop_var: scenario

- name: Validate scenarios library index
  ansible.utils.validate:
    data: "{{ scenario }}"
    criteria: "{{ documentation_scenarios_schema }}"
    engine: ansible.utils.jsonschema
  loop: "{{ documentation_scenarios_library }}"
  loop_control:
    label: scenario-{{ scenario.id }}
    loop_var: scenario

- name: Validate scenario fault injection arguments
  ansible.utils.validate:
    data: "{{ group[1].args }}"
    criteria: "{{ documentation_faults[group[1].id].arguments.jsonSchema }}"
    engine: ansible.utils.jsonschema
  loop: "{{ documentation_scenario_injections }}"
  loop_control:
    label: scenario-{{ group[0] }}/{{ group[1].id }}
    loop_var: group

- name: Validate scenario fault waiter arguments
  ansible.utils.validate:
    data: "{{ group[1].args }}"
    criteria: "{{ documentation_waiters[group[1].id].arguments.jsonSchema }}"
    engine: ansible.utils.jsonschema
  loop: "{{ documentation_scenario_waiters }}"
  loop_control:
    label: scenario-{{ group[0] }}/{{ group[1].id }}
    loop_var: group

- name: Validate unique ids for all scenarios
  ansible.builtin.assert:
    that:
      - |-
        (
          documentation_scenarios_library |
          ansible.builtin.unique(attribute="id") |
          ansible.builtin.length
        ) ==
        (
          documentation_scenarios_library |
          ansible.builtin.length
        )
    fail_msg: Duplicate scenario id discovered in library index. Please ensure all scenarios have a unique id.
    success_msg: All scenarios in library index have unique ids.
