---
- name: Load faults library index and schema
  ansible.builtin.set_fact:
    documentation_faults_library: "{{ lookup('ansible.builtin.file', 'files/library/faults/index.json') | from_json }}"
    documentation_faults_schema: "{{ lookup('ansible.builtin.file', 'files/library/faults/schema.json') | from_json }}"

- name: Validate faults library index
  ansible.utils.validate:
    data: "{{ fault }}"
    criteria: "{{ documentation_faults_schema }}"
    engine: ansible.utils.jsonschema
  loop: "{{ documentation_faults_library }}"
  loop_control:
    label: fault/{{ fault.id }}
    loop_var: fault
