---
- name: Load applications library index and schema
  ansible.builtin.set_fact:
    documentation_applications_library: "{{ lookup('ansible.builtin.file', 'files/library/applications/index.json') | from_json }}"
    documentation_applications_schema: "{{ lookup('ansible.builtin.file', 'files/library/applications/schema.json') | from_json }}"

- name: Validate applications library index
  ansible.utils.validate:
    data: "{{ application }}"
    criteria: "{{ documentation_applications_schema }}"
    engine: ansible.utils.jsonschema
  loop: "{{ documentation_applications_library }}"
  loop_control:
    label: application/{{ application.id }}
    loop_var: application
