---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-53
spec:
  applications:
    - bookInfo:
        enabled: true
        options: {}
  faults:
    - injections:
        - args:
            container:
              name: reviews
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: reviews-v3
                namespace: bookinfo
          id: nonexistent-kubernetes-workload-persistent-volume-claim
  tools:
    chaosEngineering:
      chaosMesh:
        enabled: false
    costMonitoring:
      opencost:
        enabled: false
    observability:
      topology:
        enabled: true
      traces:
        enabled: true
