apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-23
spec:
  applications:
    opentelemetryDemo:
      enabled: true
  faults:
    - injections:
        - args:
            container:
              name: checkout
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: checkout
                namespace: otel-demo
          id: unsupported-architecture-kubernetes-workload-container-image
  tools:
    sre:
      enabled: true
