---
faults_task_files:
{% for fault in faults %}
{% if "password" in fault.id %}
  {{ fault.id }}: inject_{{ fault.id | ansible.builtin.replace('-', '_') }}.yaml # pragma: allowlist secret
{% else %}
  {{ fault.id }}: inject_{{ fault.id | ansible.builtin.replace('-', '_') }}.yaml
{% endif %}
{% endfor %}
