---
faults_task_files:
{% for fault in faults %}
  {{ fault.id }}:
{% if "password" in fault.id %}
    injection: inject_{{ fault.id | ansible.builtin.replace('-', '_') }}.yaml # pragma: allowlist secret
{% else %}
    injection: inject_{{ fault.id | ansible.builtin.replace('-', '_') }}.yaml
{% endif %}
{% endfor %}
