---
apiVersion: v1
kind: Config
preferences: {}
clusters:
  - cluster:
      server: {{ agent_current_cluster[0].cluster.server }}
      certificate-authority-data: {{ agent_current_cluster[0].cluster['certificate-authority-data'] }}
    name: {{ agent_current_cluster[0].name }}
contexts:
  - context:
      cluster: {{ agent_current_cluster[0].name }}
      user: agent
    name: {{ agent_current_cluster[0].name }}
current-context: {{ agent_current_cluster[0].name }}
users:
  - name: agent
    user:
      token: {{ service_account_token }}
