---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-30
spec:
  applications:
    opentelemetryDemo:
      enabled: true
  faults:
    - injections:
        - args:
            kubernetesObject:
              apiVersion: v1
              kind: Service
              metadata:
                name: ad
                namespace: otel-demo
            targetPort: 8080
          id: modified-target-port-kubernetes-service
  tools:
    sre:
      enabled: true
