---
- name: Create Kubernetes objects
  hosts:
    - environment
  tasks:
    - name: Create namespace
      kubernetes.core.k8s:
        kubeconfig: "{{ cluster.kubeconfig }}"
        resource_definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: scale-kubernetes-workload-test
        state: present

    - name: Create deployment
      kubernetes.core.k8s:
        kubeconfig: "{{ cluster.kubeconfig }}"
        resource_definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: test-workload
            namespace: scale-kubernetes-workload-test
          spec:
            replicas: 2
            selector:
              matchLabels:
                app.kubernetes.io/name: test-workload
            template:
              metadata:
                labels:
                  app.kubernetes.io/name: test-workload
              spec:
                containers:
                  - name: server
                    image: registry.access.redhat.com/ubi10-minimal:10.1-1769677092
                    command:
                      - /bin/sh
                    args:
                      - -c
                      - "sleep infinity"
        state: present
        wait: true
