---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-102
spec:
  applications:
    opentelemetryDemo:
      enabled: true
  faults:
    - injections:
        - args:
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: ad
                namespace: otel-demo
          id: insufficient-kubernetes-resource-quota
  tools:
    sre:
      enabled: true
