---
- name: Create the namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ recorders_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ recorders_namespace.name }}"
    state: present

- name: Import tools role for variable setting tasks
  ansible.builtin.import_role:
    name: tools
    tasks_from: set_internal_endpoints
  vars:
    tools_cluster:
      kubeconfig: "{{ recorders_cluster.kubeconfig }}"
      platform: "{{ recorders_cluster.platform }}"

- name: Import alert recorder installation tasks
  ansible.builtin.import_tasks:
    file: install_alerts_recorders.yaml
  when:
    - recorders_required.alerts is defined

- name: Import topology recorder installation tasks
  ansible.builtin.import_tasks:
    file: install_topology_recorders.yaml
  when:
    - recorders_required.topology is defined

- name: Import traces recorder installation tasks
  ansible.builtin.import_tasks:
    file: install_traces_recorders.yaml
  when:
    - recorders_required.traces is defined

- name: Import unified recorders installation tasks
  ansible.builtin.import_tasks:
    file: install_unified_recorders.yaml
  when:
    - recorders_required.unified is defined
