---
argument_specs:
  main:
    author:
      - Gerard Vanloo
    options:
      scenarios_identifier:
        choices: {{ scenarios_directory_paths.keys() }}
        required: true
        type: int
