{# Delimiters are changed to allow RenovateBot to track dependencies. #}
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app.kubernetes.io/name: application-operator
  name: application-operator
  namespace: [[ injection_task.args.kubernetesObject.metadata.namespace ]]
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: application-operator
  template:
    metadata:
      labels:
        app.kubernetes.io/name: application-operator
    spec:
      containers:
        - name: worker
          image: registry.access.redhat.com/ubi10-minimal:10.1-1769677092
          command:
            - /bin/sh
          args:
            - -c
            - "sleep infinity"
