---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-31
spec:
  applications:
    opentelemetryDemo:
      enabled: true
  faults:
    - injections:
        - args:
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: frontend
                namespace: otel-demo
          id: ingress-port-blocking-network-policy
  tools:
    sre:
      enabled: true
