---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-55
spec:
  applications:
    opentelemetryDemo:
      enabled: true
  faults:
    - injections:
        - args:
            kubernetesObject:
              apiVersion: chaos-mesh.org/v1alpha1
              kind: Schedule
              metadata:
                name: api-server-memory-stress
                namespace: chaos-mesh
            scheduleSpec:
              ioChaos:
                action: latency
                delay: 200ms
                duration: 5m
                mode: all
                percent: 50
                selector:
                  labelSelectors:
                    component: etcd
                  namespaces:
                    - kube-system
                volumePath: /var/lib/etcd
              type: IOChaos
          id: scheduled-chaos-mesh-experiment
  tools:
    chaosEngineering:
      chaosMesh:
        enabled: true
    costMonitoring:
      opencost:
        enabled: false
    observability:
      topology:
        enabled: true
      traces:
        enabled: true
