---
- name: Retrieve autoscaler
  kubernetes.core.k8s_info:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    api_version: "{{ injection_task.args.kubernetesObject.apiVersion }}"
    kind: "{{ injection_task.args.kubernetesObject.kind }}"
    name: "{{ injection_task.args.kubernetesObject.metadata.name }}"
    namespace: "{{ injection_task.args.kubernetesObject.metadata.namespace }}"
  register: faults_autoscaler

- name: Validate that autoscaler exists
  ansible.builtin.assert:
    that:
      - faults_autoscaler is defined
      - faults_autoscaler.resources | ansible.builtin.length == 1
    fail_msg: Unable to find autoscaler. Please verify that the autoscaler exists.
    success_msg: Found autoscaler.

- name: Update autoscaler metrics
  kubernetes.core.k8s:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ faults_autoscaler.resources[0].apiVersion }}"
      kind: "{{ faults_autoscaler.resources[0].kind }}"
      metadata:
        name: "{{ faults_autoscaler.resources[0].metadata.name }}"
        namespace: "{{ faults_autoscaler.resources[0].metadata.namespace }}"
      spec:
        metrics:
          - type: Resource
            resource:
              name: cpu
              target:
                type: Utilization
                averageUtilization: 20
          - type: Resource
            resource:
              name: memory
              target:
                type: Utilization
                averageUtilization: 30
    state: patched
