---
- name: Retrieve gateway
  kubernetes.core.k8s_info:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    api_version: "{{ injection_task.args.kubernetesObject.apiVersion }}"
    kind: "{{ injection_task.args.kubernetesObject.kind }}"
    name: "{{ injection_task.args.kubernetesObject.metadata.name }}"
    namespace: "{{ injection_task.args.kubernetesObject.metadata.namespace }}"
  register: faults_gateway

- name: Validate that gateway exists
  ansible.builtin.assert:
    that:
      - faults_gateway.api_found
      - faults_gateway.resources | ansible.builtin.length == 1
    fail_msg: Unable to find gateway. Please verify that the gateway exists.
    success_msg: Found gateway.

- name: Create authorization policy for gateway
  kubernetes.core.k8s:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    state: present
    template: templates/kubernetes/traffic_denying_istio_gateway_authorization_policy/authorizationpolicy.j2
    wait: true
    wait_condition:
      reason: Accepted
      status: "True"
      type: WaypointAccepted
