---
- name: Retrive all Chaos Mesh schedules
  kubernetes.core.k8s_info:
    api_version: chaos-mesh.org/v1alpha1
    kind: Schedule
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
  register: faults_schedules

- name: Parse experiments from schedules
  ansible.builtin.set_fact:
    faults_experiments: |-
      {{
        faults_schedules.resources |
        ansible.builtin.map(attribute='status.active') |
        ansible.builtin.flatten
      }}

- name: Pause all scheduled experiments
  kubernetes.core.k8s:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ schedule.apiVersion }}"
      kind: "{{ schedule.kind }}"
      metadata:
        annotations:
          "experiment.chaos-mesh.org/pause": "true"
        name: "{{ schedule.metadata.name }}"
        namespace: "{{ schedule.metadata.namespace }}"
    state: patched
  loop: "{{ faults_schedules.resources }}"
  loop_control:
    label: schedule/{{ schedule.metadata.name }}
    loop_var: schedule

- name: Wait for scheduled experiement(s) to pause
  kubernetes.core.k8s_info:
    api_version: "{{ experiment.apiVersion }}"
    kind: "{{ experiment.kind }}"
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    name: "{{ experiment.name }}"
    namespace: "{{ experiment.namespace }}"
    wait: true
    wait_condition:
      type: Paused
      status: "True"
  loop: "{{ faults_experiments }}"
  loop_control:
    label: "{{ experiment.kind | lower }}/{{ experiment.name }}"
    loop_var: experiment

- name: Delete associated scheduled experiment(s)
  kubernetes.core.k8s:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ experiment.apiVersion }}"
      kind: "{{ experiment.kind }}"
      metadata:
        annotations:
          "chaos-mesh.chaos-mesh.org/cleanFinalizer": forced
        name: "{{ experiment.name }}"
        namespace: "{{ experiment.namespace }}"
    state: patched
  loop: "{{ faults_experiments }}"
  loop_control:
    label: "{{ experiment.kind | lower }}/{{ experiment.name }}"
    loop_var: experiment

- name: Delete Chaos Mesh schedules
  kubernetes.core.k8s:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ schedule.apiVersion }}"
      kind: "{{ schedule.kind }}"
      metadata:
        name: "{{ schedule.metadata.name }}"
        namespace: "{{ schedule.metadata.namespace }}"
    state: absent
    wait: true
  loop: "{{ faults_schedules.resources }}"
  loop_control:
    label: schedule/{{ schedule.metadata.name }}
    loop_var: schedule
