---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: {{ ["scenario", scenario.id] | ansible.builtin.join("-") }}
spec:
  applications:
{% for application in scenario.environment.applications %}
{% if application.id == "book-info" %}
    bookInfo:
      enabled: true
{% if application.options is defined %}
      options: {{ application.options }}
{% endif %}
{% elif application.id == "opentelemetry-demo" %}
    opentelemetryDemo:
      enabled: true
{% if application.options is defined %}
      options: {{ application.options }}
{% endif %}
{% endif %}
{% endfor %}
  faults: {{ scenario.disruptions }}
  tools:
{% if scenario.category == "finops" %}
    finops:
      enabled: true
{% elif scenario.category == "sre" %}
    sre:
      enabled: true
{% endif %}
