---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-16
spec:
  applications:
    opentelemetryDemo:
      enabled: true
  faults:
    - injections:
        - args:
            container:
              env:
                name: QUOTE_ADDR
                value: quote:0000
              name: shipping
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: shipping
                namespace: otel-demo
          id: modified-kubernetes-workload-container-environment-variable
  tools:
    sre:
      enabled: true
