---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: kafka-exporter
  namespace: {{ applications_managers.opentelemetry_demo.kubernetes.namespace }}
  labels:
    app.kubernetes.io/name: kafka-exporter
    app.kubernetes.io/component: monitoring
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: kafka-exporter
  podMetricsEndpoints:
  - port: metrics
    interval: 30s
    path: /metrics
