---
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: {{ injection_task.args.kubernetesObject.metadata.name + "deny" }}
  namespace: {{ injection_task.args.kubernetesObject.metadata.namespace }}
spec:
  action: DENY
  targetRef:
    group: gateway.networking.k8s.io
    kind: Gateway
    name: {{ injection_task.args.kubernetesObject.metadata.name }}
  rules:
    - to:
        - operation:
            methods: {{ injection_task.args.httpMethods }}
