---
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: {{ faults_gateway.resources[0].metadata.name }} + "-deny"
  namespace: {{ faults_gateway.resources[0].metadata.name }}
spec:
  action: DENY
  targetRef:
    group: gateway.networking.k8s.io
    kind: Gateway
    name: {{ faults_gateway.resources[0].metadata.name }}
  rules:
    - to:
        - operation:
            methods: {{ injection_task.args.httpMethods }}
