---
- name: Run fault injection test
  hosts:
    - environment
  tasks:
    - name: Import faults role
      ansible.builtin.import_role:
        name: faults
      vars:
        faults_cluster:
          kubeconfig: "{{ cluster.kubeconfig }}"
        faults_injection_tasks:
          - id: modified-target-port-kubernetes-service
            args:
              kubernetesObject:
                apiVersion: v1
                kind: Service
                metadata:
                  name: compromised-workload
                  namespace: modified-target-port-kubernetes-service-test
              targetPort: 8080
