---
- name: Verify that fault injection succeeded
  hosts:
    - environment
  tasks:
    - name: Retrieve service
      kubernetes.core.k8s_info:
        kubeconfig: "{{ cluster.kubeconfig }}"
        api_version: v1
        kind: Service
        name: compromised-workload
        namespace: modified-target-port-kubernetes-service-test
      register: faults_service

    - name: Validate that service target port was modified
      ansible.builtin.assert:
        that:
          - faults_service.resources[0].spec.ports[0].targetPort != 8080
        fail_msg: Service target port was not modified. Fault injection failed.
        success_msg: Service target port was modified.
