---
argument_specs:
  main:
    author:
      - Gerard Vanloo
    options:
      faults_injection_tasks:
        default: []
        elements: dict
        options:
          args:
            required: true
            type: dict
          id:
            choices:
{% for fault in faults %}
              - {{ fault.id }}
{% endfor %}
            required: true
            type: str
        required: false
        type: list
