---
- name: Manage SRE and FinOps Incident Environment Tool Stack
  hosts:
    - environment
  pre_tasks:
    - name: Import system role
      ansible.builtin.import_role:
        name: system
      tags:
        - always
      vars:
        system_cluster:
          kubeconfig: "{{ cluster.kubeconfig }}"

    - name: Import cluster role
      ansible.builtin.import_role:
        name: cluster
      tags:
        - always
      vars:
        cluster_files:
          kubeconfig: "{{ cluster.kubeconfig }}"
        cluster_tools_enabled:
          oc: "{{ system_oc_exists }}"
<<<<<<< HEAD
=======

    - name: Import variables for incident
      ansible.builtin.import_role:
        name: incidents
      tags:
        - always
      vars:
        incidents_file:
          id: "{{ scenario_id }}"
      when:
        - scenario_id is defined
>>>>>>> ecec484 (fix: consistent use of scenario_id instead of incident_id)
  tasks:
    - name: Import role variables from scenario
      tags:
        - install_tools
      when:
        - scenario_id is defined
      block:
        - name: Import scenarios role
          ansible.builtin.import_role:
            name: scenarios
          vars:
            scenarios_identifier: "{{ scenario_id }}"

        - name: Create tool installation variable
          ansible.builtin.set_fact:
            tools_configuration: "{{ scenarios_scenario.spec.tools }}"

    - name: Create role variables
      tags:
        - install_tools
      when:
        - scenario_id is undefined
      block:
        - name: Create tool installation variable
          ansible.builtin.set_fact:
            tools_configuration:
              sre:
                enabled: "{{ tools.sre | ansible.builtin.default(false) }}"
              finops:
                enabled: "{{ tools.finops | ansible.builtin.default(false) }}"

    - name: Import tools role
      ansible.builtin.import_role:
        name: tools
      vars:
        tools_cluster:
          kubeconfig: "{{ cluster.kubeconfig }}"
          platform: "{{ cluster_platform }}"
          provider: "{{ cluster_provider }}"
