---
- name: Manage SRE and FinOps Agent Namespace Access
  hosts:
    - environment
  pre_tasks:
    - name: Import system role
      ansible.builtin.import_role:
        name: system
      tags:
        - always
      vars:
        system_cluster:
          kubeconfig: "{{ cluster.kubeconfig }}"
  tasks:
    - name: Import role variables from scenario
      tags:
        - grant_access
      when:
        - scenario_id is defined
      block:
        - name: Import scenarios role
          ansible.builtin.import_role:
            name: scenarios
          vars:
            scenarios_identifier: "{{ scenario_id }}"

        - name: Create fault injections variable
          ansible.builtin.set_fact:
            agent_access_request:
              namespaces: |-
                {{
                  (
                    (
                      scenarios_scenario.spec.faults |
                      map(attribute='injections') |
                      ansible.builtin.flatten |
                      ansible.builtin.selectattr('args.kubernetesObject.metadata.namespace', 'defined') |
                      map(attribute='args.kubernetesObject.metadata.namespace')
                    ) +
                    (
                      scenarios_scenario.spec.faults |
                      map(attribute='injections') |
                      ansible.builtin.flatten |
                      ansible.builtin.selectattr('args.kubernetesObject.kind', 'defined') |
                      ansible.builtin.selectattr('args.kubernetesObject.kind', '==', 'Namespace') |
                      map(attribute='args.kubernetesObject.metadata.name')
                    )
                  ) |
                  ansible.builtin.unique
                }}

    - name: Import agent role
      ansible.builtin.import_role:
        name: agent
      tags:
        - grant_access
      vars:
        agent_cluster:
          kubeconfig: "{{ cluster.kubeconfig }}"
        agent_storage: "{{ storage }}"
