---
# storage:
#   local:
#     directory: ""
#   s3:
#     bucket: ""
#     directory: ""
#     endpoint: ""
#
# argo_storage:
#   local:
#     directory: ""
#   s3:
#     bucket: ""
#     directory: ""
#     endpoint: ""
