---
apiVersion: v1
kind: Config
preferences: {}
clusters:
  - cluster:
      server: {{ cluster.cluster.server }}
      certificate-authority-data: {{ cluster.cluster['certificate-authority-data'] }}
    name: {{ cluster.name }}
contexts:
  - context:
      cluster: {{ cluster.name }}
      user: agent
    name: {{ cluster.name }}
current-context: {{ cluster.name }}
users:
  - name: agent
    user:
      token: {{ service_account_token }}
