---
{% if awx_experiments.storage is ansible.builtin.defined %}
storage: {{ awx_experiments.storage }}
{% endif %}
storage_overrides:
  export_path_variables:
    agent_version: {{ awx_experiments.agent.version }}
    experiment_id: {{ awx_experiment_uuid.stdout }}
    trial_id: {{ launch_configuration[0] }}
