---
{% if awx_configuration.providers.aws.enabled | ansible.builtin.default(false) %}
  - name: AWS
{% endif %}
{% if awx_configuration.vendors.datadog.enabled | ansible.builtin.default(false) %}
  - name: Datadog
{% endif %}
{% if awx_configuration.vendors.dynatrace.enabled | ansible.builtin.default(false) %}
  - name: Dynatrace
{% endif %}
  - name: Cluster-{{ kubeconfig_index + 1 }}-Kubeconfig
