---
- name: Include fault argument validation tasks
  ansible.builtin.include_tasks:
    file: validate_fault_arguments.yaml

- name: Print message
  ansible.builtin.debug:
    msg: This fault injection ({{ fault.id }}) is unimplemented.
