---
apiVersion: itbench.io/v1
kind: GroundTruth
metadata:
  name: scenario-18
spec:
  alerts:
    - group_id: frontend-service-1
      id: RequestErrorRate
      metadata:
        description: Error Rate is Above Threshold
  aliases:
    - - checkout-service-1
      - checkout-pod-1
    - - frontend-service-1
      - frontend-pod-1
    - - otel-demo-product-catalog-network-delay
      - otel-demo-product-catalog-network-delay-1
  fault:
    - category: Resource Unavailable
      condition: To Be Specified
      entity:
        group_id: pod-otel-demo-checkout-1
        kind: Service
        name: pod-otel-demo-checkout-1
      fault_mechanism: chaos
  groups:
    - filter:
        - .*product-catalog-network-delay
      id: otel-demo-product-catalog-network-delay-1
      kind: PodChaos
      namespace: chaos-mesh
      root_cause: true
    - filter:
        - .*product-catalog-network-delay
      id: otel-demo-product-catalog-network-delay
      kind: Schedule
      namespace: chaos-mesh
    - filter:
        - .*product-catalog-network-delay
      id: otel-demo-product-catalog-network-delay
      kind: Schedule
      namespace: chaos-mesh
    - filter:
        - checkout-.*
      id: checkout-pod-1
      kind: Pod
      namespace: otel-demo
    - filter:
        - frontend\b
      id: frontend-service-1
      kind: Service
      namespace: otel-demo
    - filter:
        - checkout\b
      id: checkout-service-1
      kind: Service
      namespace: otel-demo
    - filter:
        - frontend-.*
      id: frontend-pod-1
      kind: Pod
      namespace: otel-demo
  propagations:
    - condition: set pod-failure on checkoutservice
      effect: checkoutservice pod is unavailable
      source: otel-demo-product-catalog-network-delay-1
      target: checkout-pod-1
    - condition: checkoutservice pod is unavailable
      effect: frontend service Error Rate is Above Threshold
      source: checkout-pod-1
      target: frontend-service-1
  recommended_actions:
    - solution:
        actions:
          - Delete the resource podchaos checkoutservice
        id: Delete_the_resource_podchaos_checkoutservice
    - solution:
        actions:
          - restart the checkoutservice pod
        id: restart_the_checkoutservice_pod
