---
- name: Include waiter argument validation tasks
  ansible.builtin.include_tasks:
    file: validate_waiter_arguments.yaml

- name: Print message
  ansible.builtin.debug:
    msg: This waiter ({{ waiter.id }}) is unimplemented.
