name: Run ITBench Unit Tests

on:
  pull_request:
    branches:
      - main
    paths:
      - scenarios/sre/roles/faults/**

concurrency:
  group: ci-unit-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sre-faults:
    name: SRE Fault Injection Tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
        with:
          working-directory: scenarios/sre
      - uses: actions/setup-go@v6.2.0
        with:
          go-version-file: scenarios/sre/dev/local_cluster/go.mod
          cache-dependency-path: scenarios/sre/dev/local_cluster/go.sum
      - uses: azure/setup-helm@v4.3.1
        with:
          version: v3.18.6
      - name: Install project dependencies
        run: |
          make -C scenarios/sre deps
      - name: Create group vars
        run: |
          make -C scenarios/sre group_vars
      - name: Create Kind cluster
        run: |
          make -C scenarios/sre/dev/local_cluster create_simple_cluster
      - name: Run unit tests
        run: |
          make -C scenarios/sre test_faults
