name: Perform integration smoke tests for SRE scenarios

on:
  pull_request:
    branches:
      - main
    paths:
      - scenarios/sre/dev/local_cluster/go.*
      - scenarios/sre/playbooks/manage_agent_access.yaml
      - scenarios/sre/playbooks/manage_applications.yaml
      - scenarios/sre/playbooks/manage_documentation.yaml
      - scenarios/sre/playbooks/manage_faults.yaml
      - scenarios/sre/playbooks/manage_recorders.yaml
      - scenarios/sre/playbooks/manage_tools.yaml
      - scenarios/sre/roles/**
      - '!scenarios/sre/roles/awx/**'

concurrency:
  group: ci-integration-${{ github.ref }}
  cancel-in-progress: true

jobs:
  book-info:
    name: Istio Book Info Smoke Tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
        with:
          working-directory: scenarios/sre
      - uses: actions/setup-go@v6.3.0
        with:
          go-version-file: scenarios/sre/dev/local_cluster/go.mod
          cache-dependency-path: scenarios/sre/dev/local_cluster/go.sum
      - uses: azure/setup-helm@v4.3.1
        with:
          version: v3.18.6
      - name: Create Kind cluster
        run: |
          make -C scenarios/sre/dev/local_cluster create-simple-cluster
      - name: Run Cloud Provider
        run: |
          make -C scenarios/sre/dev/local_cluster run-service-provider &
      - name: Install project dependencies
        run: |
          make -C scenarios/sre deps
      - name: Create group vars
        run: |
          make -C scenarios/sre group-vars
          cat <<EOF > scenarios/sre/group_vars/environment/tools.yaml
          ---
          tools:
            sre: true
          EOF
          cat <<EOF > scenarios/sre/group_vars/environment/applications.yaml
          ---
          applications:
            book_info: true
          EOF
      - name: Install tools
        run: |
          make -C scenarios/sre deploy-tools
      - name: Run installation smoke test
        run: |
          make -C scenarios/sre deploy-applications
      - name: Run uninstallation smoke test
        run: |
          make -C scenarios/sre undeploy-applications
  otel-demo:
    name: OpenTelemetry Demo (Astronomy Shop) Smoke Tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
        with:
          working-directory: scenarios/sre
      - uses: actions/setup-go@v6.3.0
        with:
          go-version-file: scenarios/sre/dev/local_cluster/go.mod
          cache-dependency-path: scenarios/sre/dev/local_cluster/go.sum
      - uses: azure/setup-helm@v4.3.1
        with:
          version: v3.18.6
      - name: Create Kind cluster
        run: |
          make -C scenarios/sre/dev/local_cluster create-simple-cluster
      - name: Run Cloud Provider
        run: |
          make -C scenarios/sre/dev/local_cluster run-service-provider &
      - name: Install project dependencies
        run: |
          make -C scenarios/sre deps
      - name: Create group vars
        run: |
          make -C scenarios/sre group-vars
          cat <<EOF > scenarios/sre/group_vars/environment/tools.yaml
          ---
          tools:
            sre: true
          EOF
          cat <<EOF > scenarios/sre/group_vars/environment/applications.yaml
          ---
          applications:
            otel_demo: true
          EOF
      - name: Install tools
        run: |
          make -C scenarios/sre deploy-tools
      - name: Run installation smoke test
        run: |
          make -C scenarios/sre deploy-applications
      - name: Run uninstallation smoke test
        run: |
          make -C scenarios/sre undeploy-applications
  sre-scenario-1:
    name: SRE Scenario 1 Smoke Test
    needs:
      - otel-demo
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
        with:
          working-directory: scenarios/sre
      - uses: actions/setup-go@v6.3.0
        with:
          go-version-file: scenarios/sre/dev/local_cluster/go.mod
          cache-dependency-path: scenarios/sre/dev/local_cluster/go.sum
      - uses: azure/setup-helm@v4.3.1
        with:
          version: v3.18.6
      - name: Create Kind cluster
        run: |
          make -C scenarios/sre/dev/local_cluster create-simple-cluster
      - name: Run Cloud Provider
        run: |
          make -C scenarios/sre/dev/local_cluster run-service-provider &
      - name: Install project dependencies
        run: |
          make -C scenarios/sre deps
      - name: Create group vars
        run: |
          make -C scenarios/sre group-vars
      - name: Create environment
        run: |
          SCENARIO_NUMBER=1 make -C scenarios/sre create-environment
      - name: Test fault injection
        run: |
          SCENARIO_NUMBER=1 make -C scenarios/sre inject-scenario-faults
      - name: Test fault removal
        run: |
          SCENARIO_NUMBER=1 make -C scenarios/sre remove-fault-resources
      - name: Destroy environment
        run: |
          SCENARIO_NUMBER=1 make -C scenarios/sre destroy-environment
  sre-scenario-3:
    name: SRE Scenario 3 Smoke Test
    needs:
      - otel-demo
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
        with:
          working-directory: scenarios/sre
      - uses: actions/setup-go@v6.3.0
        with:
          go-version-file: scenarios/sre/dev/local_cluster/go.mod
          cache-dependency-path: scenarios/sre/dev/local_cluster/go.sum
      - uses: azure/setup-helm@v4.3.1
        with:
          version: v3.18.6
      - name: Create Kind cluster
        run: |
          make -C scenarios/sre/dev/local_cluster create-simple-cluster
      - name: Run Cloud Provider
        run: |
          make -C scenarios/sre/dev/local_cluster run-service-provider &
      - name: Install project dependencies
        run: |
          make -C scenarios/sre deps
      - name: Create group vars
        run: |
          make -C scenarios/sre group-vars
      - name: Create environment
        run: |
          SCENARIO_NUMBER=3 make -C scenarios/sre create-environment
      - name: Test fault injection
        run: |
          SCENARIO_NUMBER=3 make -C scenarios/sre inject-scenario-faults
      - name: Test fault removal
        run: |
          SCENARIO_NUMBER=3 make -C scenarios/sre remove-fault-resources
      - name: Destroy environment
        run: |
          SCENARIO_NUMBER=3 make -C scenarios/sre destroy-environment
  sre-scenario-26:
    name: SRE Scenario 26 Smoke Test
    needs:
      - otel-demo
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
        with:
          working-directory: scenarios/sre
      - uses: actions/setup-go@v6.3.0
        with:
          go-version-file: scenarios/sre/dev/local_cluster/go.mod
          cache-dependency-path: scenarios/sre/dev/local_cluster/go.sum
      - uses: azure/setup-helm@v4.3.1
        with:
          version: v3.18.6
      - name: Create Kind cluster
        run: |
          make -C scenarios/sre/dev/local_cluster create-simple-cluster
      - name: Run Cloud Provider
        run: |
          make -C scenarios/sre/dev/local_cluster run-service-provider &
      - name: Install project dependencies
        run: |
          make -C scenarios/sre deps
      - name: Create group vars
        run: |
          make -C scenarios/sre group-vars
      - name: Create environment
        run: |
          SCENARIO_NUMBER=26 make -C scenarios/sre create-environment
      - name: Test fault injection
        run: |
          SCENARIO_NUMBER=26 make -C scenarios/sre inject-scenario-faults
      - name: Test fault removal
        run: |
          SCENARIO_NUMBER=26 make -C scenarios/sre remove-fault-resources
      - name: Destroy environment
        run: |
          SCENARIO_NUMBER=26 make -C scenarios/sre destroy-environment
  sre-scenario-41:
    name: SRE Scenario 41 Smoke Test
    needs:
      - otel-demo
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
        with:
          working-directory: scenarios/sre
      - uses: actions/setup-go@v6.3.0
        with:
          go-version-file: scenarios/sre/dev/local_cluster/go.mod
          cache-dependency-path: scenarios/sre/dev/local_cluster/go.sum
      - uses: azure/setup-helm@v4.3.1
        with:
          version: v3.18.6
      - name: Create Kind cluster
        run: |
          make -C scenarios/sre/dev/local_cluster create-simple-cluster
      - name: Run Cloud Provider
        run: |
          make -C scenarios/sre/dev/local_cluster run-service-provider &
      - name: Install project dependencies
        run: |
          make -C scenarios/sre deps
      - name: Create group vars
        run: |
          make -C scenarios/sre group-vars
      - name: Create environment
        run: |
          SCENARIO_NUMBER=41 make -C scenarios/sre create-environment
      - name: Test fault injection
        run: |
          SCENARIO_NUMBER=41 make -C scenarios/sre inject-scenario-faults
      - name: Test fault removal
        run: |
          SCENARIO_NUMBER=41 make -C scenarios/sre remove-fault-resources
      - name: Destroy environment
        run: |
          INCIDENT_NUMBER=41 make -C scenarios/sre destroy-environment
  sre-scenario-47:
    name: SRE Scenario 47 Smoke Test
    needs:
      - book-info
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
        with:
          working-directory: scenarios/sre
      - uses: actions/setup-go@v6.3.0
        with:
          go-version-file: scenarios/sre/dev/local_cluster/go.mod
          cache-dependency-path: scenarios/sre/dev/local_cluster/go.sum
      - uses: azure/setup-helm@v4.3.1
        with:
          version: v3.18.6
      - name: Create Kind cluster
        run: |
          make -C scenarios/sre/dev/local_cluster create-simple-cluster
      - name: Run Cloud Provider
        run: |
          make -C scenarios/sre/dev/local_cluster run-service-provider &
      - name: Install project dependencies
        run: |
          make -C scenarios/sre deps
      - name: Create group vars
        run: |
          make -C scenarios/sre group-vars
      - name: Create environment
        run: |
          SCENARIO_NUMBER=47 make -C scenarios/sre create-environment
      - name: Test fault injection
        run: |
          SCENARIO_NUMBER=47 make -C scenarios/sre inject-scenario-faults
      - name: Test fault removal
        run: |
          SCENARIO_NUMBER=47 make -C scenarios/sre remove-fault-resources
      - name: Destroy environment
        run: |
          INCIDENT_NUMBER=47 make -C scenarios/sre destroy-environment
  sre-scenario-50:
    name: SRE Scenario 50 Smoke Test
    needs:
      - book-info
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
        with:
          working-directory: scenarios/sre
      - uses: actions/setup-go@v6.3.0
        with:
          go-version-file: scenarios/sre/dev/local_cluster/go.mod
          cache-dependency-path: scenarios/sre/dev/local_cluster/go.sum
      - uses: azure/setup-helm@v4.3.1
        with:
          version: v3.18.6
      - name: Create Kind cluster
        run: |
          make -C scenarios/sre/dev/local_cluster create-simple-cluster
      - name: Run Cloud Provider
        run: |
          make -C scenarios/sre/dev/local_cluster run-service-provider &
      - name: Install project dependencies
        run: |
          make -C scenarios/sre deps
      - name: Create group vars
        run: |
          make -C scenarios/sre group-vars
      - name: Create environment
        run: |
          SCENARIO_NUMBER=50 make -C scenarios/sre create-environment
      - name: Test fault injection
        run: |
          SCENARIO_NUMBER=50 make -C scenarios/sre inject-scenario-faults
      - name: Test fault removal
        run: |
          SCENARIO_NUMBER=50 make -C scenarios/sre remove-fault-resources
      - name: Destroy environment
        run: |
          SCENARIO_NUMBER=50 make -C scenarios/sre destroy-environment
  finops-incident-38:
    name: FinOps Incident 38 Smoke Test
    needs:
      - otel-demo
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
        with:
          working-directory: scenarios/sre
      - uses: actions/setup-go@v6.3.0
        with:
          go-version-file: scenarios/sre/dev/local_cluster/go.mod
          cache-dependency-path: scenarios/sre/dev/local_cluster/go.sum
      - uses: azure/setup-helm@v4.3.1
        with:
          version: v3.18.6
      - name: Create Kind cluster
        run: |
          make -C scenarios/sre/dev/local_cluster create-simple-cluster
      - name: Run Cloud Provider
        run: |
          make -C scenarios/sre/dev/local_cluster run-service-provider &
      - name: Install project dependencies
        run: |
          make -C scenarios/sre deps
      - name: Create group vars
        run: |
          make -C scenarios/sre group-vars
      - name: Create environment
        run: |
          SCENARIO_NUMBER=38 make -C scenarios/sre create-environment
      - name: Test fault injection
        run: |
          SCENARIO_NUMBER=38 make -C scenarios/sre inject-scenario-faults
      - name: Test fault removal
        run: |
          SCENARIO_NUMBER=38 make -C scenarios/sre remove-fault-resources
      - name: Destroy environment
        run: |
          SCENARIO_NUMBER=38 make -C scenarios/sre destroy-environment
