name: Lint SRE playbooks

on:
  pull_request:
    branches:
      - main
    paths:
      - scenarios/sre/playbooks/**
      - scenarios/sre/roles/**
      - scenarios/sre/dev/remote_cluster/playbooks/**
      - scenarios/sre/dev/remote_cluster/roles/**

jobs:
  lint-main-playbooks:
    name: Lint playbooks and roles in main directory
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.2.1
        with:
          working-directory: scenarios/sre
      - name: Install project dependencies
        run: |
          make -C scenarios/sre deps
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v26.1.1
        with:
          args: playbooks roles
          setup_python: "false"
          working_directory: scenarios/sre
          requirements_file: requirements.yaml
  lint-remote-cluster-playbooks:
    name: Lint playbooks and roles in remote cluster directory
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.2.1
        with:
          working-directory: scenarios/sre
      - name: Install project dependencies
        run: |
          make -C scenarios/sre deps
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v26.1.1
        with:
          setup_python: "false"
          working_directory: scenarios/sre/dev/remote_cluster
          requirements_file: ../../requirements.yaml
